<template>
  <div id="idok">

    <h1>{{ msg }}</h1>

    <router-view></router-view> 

    <!-- Cargando componente -->
    <!-- <home></home>
    <contacto></contacto> -->



  </div>
</template>

<script>
export default {
  name: 'idok',
  data () {
    return {
      msg: 'Restaurantes de AL4C '
    }
  }
}
</script>
