<template>
	<div>
		<router-link to="/operator/new-service" class="btn btn-primary pull-right">Crear nuevo servicio</router-link>

	    <table id="datatable" class="table" role="grid" aria-describedby="datatable_info">
	        <thead>
	            <th>Servicio</th>
	            <th>Tipo de servicio</th>
	            <th>Lugar</th>
	            <th>Capacidad</th>
	            <!-- <th>Desde</th> -->
	            <!-- <th>Hasta</th> -->
	            <th>Días de operación</th>
	            <th>Estado</th>
	            <th>Horarios</th>
	            <th colspan="2">
	                    &nbsp;
	                </th>
	        </thead>
	        <tbody>
	            <tr v-for="service in services">
	                <td>{{service.service}}</td>
	                <td>{{service.type_service}}</td>
	                <td>{{service.pivot.location}}</td>
	                <td>{{service.pivot.capacity}}</td>
	                <!-- <td>{{service.pivot.since}}</td> -->
	                <!-- <td>{{service.pivot.to}}</td> -->
	                <td>{{service.pivot.days}}</td>
	                <td>{{service.pivot.state}}</td>
	                <td>
	                	<a href="/operator/schedule/{{service.id_service}}"> go</a>
	                	<router-link  :to="{name:'schedule', params:{id:service.id_service}}" class="btn btn-primary"><i class="fa fa-calendar" aria-hidden="true"></i></router-link>
	                </td>
	                <td width="10px">
	                    <a href="#" class="btn btn-warning btn-sm" v-on:click.prevent="editService(service)">Editar</a>
	                    
	                </td>
	                <td width="10px">
	                    <a href="#" class="btn btn-danger btn-sm" v-on:click.prevent="desactivateService(service)">Desactivar</a> 
	                </td>
	            </tr>  
	        </tbody>
	    </table>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    mounted()
	{
	  	this.getServices();
	},
	data () 
	{
	    return {
	      services:null,
	    }
	},
	methods:{
		getServices:function()
		{
			var urlKeeps = 'services';
			axios.get(urlKeeps).then(response=>{
				this.services = response.data.services;
				this.days = response.data.days;
			});
		},

		editService:function(service)
		{
			this.fillService.id_service = service.id_service;
			this.fillService.service = service.service;
			this.fillService.type_service = service.type_service;
			this.fillService.address = service.pivot.address;
			this.fillService.since = service.pivot.since;
			this.fillService.to = service.pivot.to;
			this.fillService.days = service.pivot.days;
			this.fillService.capacity = service.pivot.capacity;
			this.fillService.requisites = service.pivot.requisites;
			this.fillService.description = service.pivot.description;
			this.fillService.location = service.pivot.location;
			this.fillService.state = service.pivot.state;

			$("#edit").modal('show');
		},
		updateService:function(id)
		{
			var url = 'services/'+id
			axios.put(url,this.fillService).then(response=>{
				this.getServices();
				this.fillService= {'id_service':'','service':'','type_service':'','description':'','address':'','since':'','to':'','days':'','capacity':'','requisites':'','description':'','location':'','state':''};
				this.errors = [];
				$("#edit").modal('hide');
				toastr.success('La actualización se realizo correctamente');
			}).catch(error=>{
				this.errors = error.response.data;
			});
		},

		desactivateService:function(service)
		{
			var url = "services/"+service.id_service;
			axios.delete(url).then(response => {
				this.getServices(); //refresh de los elementos
				toastr.success('Desactivado correctamente');
			});
		},

		createKeep:function()
		{
			var url = "task";
			axios.post(url,{
				keep: this.newKeep
			}).then(response => {
				this.getKeeps();
				this.newKeep = '';
				this.errors = [];
				$("#create").modal('hide');
				toastr.success('Nueva tarea Creada con exito');
			}).catch(error =>{
				this.errors=error.response.data;
			});
		}
	}
}
</script>

