.card {
    margin-bottom: 1.875rem;
    border: none;
    border-radius: 0;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
    padding: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
}

#invoice-template {
    padding: 4rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem;
    border-left: 4px solid #4CAF50;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.media {
    display: flex;
    align-items: flex-start;
}

img {
    vertical-align: middle;
    border-style: none;
}

.media-body {
    flex: 1;
}

.pl-0, .px-0 {
    padding-left: 0 !important;
}

.pr-0, .px-0 {
    padding-right: 0 !important;
}

.ml-2, .mx-2 {
    margin-left: 1.5rem !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol li, ul li, dl li {
    line-height: 1.8;
}

h2, .h2 {
    font-size: 1.74rem;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.pb-3, .py-3 {
    padding-bottom: 3rem !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}


.text-bold-800 {
  font-weight: 800; }

.pt-2, .py-2 {
    padding-top: 1.5rem !important;
}

.text-muted {
    color: #404E67 !important;
}

.text-bold-400 {
  font-weight: 400; }

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

table {
    border-collapse: collapse;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e3ebf3;
    border-top: 1px solid #e3ebf3;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #98A4B8;
}

.table th, .table td {
    padding: 0.75rem 2rem;
}

.table th, .table td {
    border-bottom: 1px solid #e3ebf3;
}

.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #98A4B8;
}

th {
    white-space: nowrap;
    font-weight: bold;
}

th {
    text-align: inherit;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

.text-right {
    text-align: right !important;
}

.table.table-sm th, .table.table-sm td {
    padding: 0.6rem 2rem;
}

.table-borderless > tbody > tr > td, .table-borderless > tbody > tr > th {
    border: 0;
}

.table th, .table td {
    padding: 0.75rem 2rem;
}

.table th, .table td {
    border-bottom: 1px solid #e3ebf3;
}

.table-borderless td, .table-borderless th {
    border: none;
}

.table-sm th, .table-sm td {
    padding: 0.3rem;
}


