.gallery {
    width: 100%;
    float: left;
}
.gallery ul li {
	list-style: none;
    padding: 7px;
    border: 2px solid #ccc;
    float: left;
    margin: 10px 7px;
    background: none;
    width: 150px;
    height: auto;
}
.mt-2{
    margin-top: 2%;
}
span.ui-state-default {
    color: #80808073!important;
}
#ui-datepicker-div
{
    background: white;
    border: 2px orange solid;
    padding: 1%;
    border-radius: 13%;
}
#social-links>ul>li{
    display:inline;
}