<template>
	<main>

       <section id="hero" :style="'background: #4d536d url(/'+ecosystem.link_image+') no-repeat center center; width: 100%;height: auto;background-size: cover;'">
	        <div class="intro_title">
	            <div class="parallax-content-1">
		            <div class="row">
		                <h1>{{ecosystem.ecosystem_category}}</h1>
		                <p v-if="ecosystem.subtitle !='' && ecosystem.subtitle!=null">{{ecosystem.subtitle}}</p>
		            </div>
		        </div>
	        </div>
	    </section>

	    <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div> -->
		<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                   <li><router-link :to="'/home'">Home</router-link>
                    </li>
                    <li>{{ecosystem.ecosystem_category}}</li>
                </ul>
            </div>
        </div> <!-- End Position -->

		<div class="container margin_60">

            <div v-if="patterns['top-middle-banner']!= null" id="banner">
	            <div v-for="pattern in patterns['top-middle-banner']">
	                <div v-if="pattern.multimedia_type == 'Imagen'">
	                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
	                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
	                </div>

	                <div v-if="pattern.multimedia_type == 'Codigo'">
	                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
	                    </div>
	                </div>

	                <div v-if="pattern.multimedia_type == 'Video'" >
	                    <div >
	                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
	                    </div>
	                </div>
	            </div>
        </div>

			<!-- Activities Title -->
            <div class="main_title">
				<h2>Experimenta <span>nuevas </span>sensaciones</h2>
				<p>
					¡Muchas experiencias en un solo lugar!
				</p>
			</div> <!-- End Activities Title -->



			<div class="row magnific" v-for="activity in activities">
			<hr>
				<div class="col-md-4">
					<img :src="'/'+activity.image" alt="Image" class="img-responsive styled">
				</div>
				<div class="col-md-7 col-md-offset-1">
					<h3><span>{{activity.service}}</span></h3>
					<div v-html="activity.description">
						
					</div>
                    <div class="general_icons">
                        <ul>

                  			<li><router-link :to="{ path: '/home/services', query: { activity: activity.slug+',' }}"><i class="icon_set_1_icon-51"></i>Planes</router-link></li>
                            <li v-if="activity.video_url!=null">
                            	<a :href="'https://www.youtube.com/embed/'+activity.video_url" class="video" title="Video Vimeo"><i class="icon_set_1_icon-31"></i>Video</a>
                            </li>
                        </ul>
                    </div>
				</div>
			</div> <!-- End Activity -->
		</div>
		<!-- End container -->

       <!-- Carrousel -->
        <div id="banner">
        	<div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->

        <!-- Video -->
    <section class="promo_full" v-if="patterns['video-banner']!= null">
	    <div class="promo_full_wp magnific">
	            <div v-for="pattern in patterns['video-banner']">
	                <div v-if="pattern.multimedia_type == 'Imagen'">
	                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
	                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
	                </div>

	                <div v-if="pattern.multimedia_type == 'Codigo'">
	                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
	                    </div>
	                </div>

	                <div v-if="pattern.multimedia_type == 'Video'" >
	                    <div >
	                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
	                    </div>
	                </div>
	            </div>
	        <!--<div>
	            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	        </div>-->
	    </div>
    </section> <!-- End video -->

    <hr class="add_bottom_45">
    <!-- Carrousel -->
    <div v-if="patterns['footer-banner']!= null" id="banner">
        <div class="container">
            <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                <div class="img_wrapper_gallery">
                    <div class="img_container_gallery">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>
	</main>
</template>

<script>

import axios from 'axios';

	export default
	{
		data()
		{
			return{
				metas :{'description':'','keywords':'','title':''},
				ecosystem:[],
				activities:[],
                patterns:[],		
                slug:'',		
			}
		},
		created()
		{
			this.slug = this.$route.params.slug;
			this.getEcosystem();
 			$("#preloader").css('display', 'initial');
            $('body,html').animate({
                scrollTop:0
            },0);
		},
		watch:{
			'$route.params.slug':function()
			{
				this.slug = this.$route.params.slug;
				this.getEcosystem();
				this.metas = {'description':'','keywords':'','title':''};
			}
		},
		metaInfo()
		{
			return{
				title: this.metas.title !='' ? this.metas.title : 'Actividades en '+this.ecosystem.ecosystem_category,
				titleTemplate: '%s | TuPaseo ',
				meta: [
                  { vmid: 'description', name: 'description', content: this.metas.description },
                  { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
                ]
			}
			
		},
		methods:
		{
			getEcosystem:function()
			{
				axios.get('/vue/ecosystem/'+this.slug).then(response=>
				{
					this.ecosystem = response.data.ecosystem;
					this.activities = response.data.activities;
                    this.patterns = response.data.patterns;

                    $("#preloader").css('display', 'none');
        			$('.cmn-toggle-switch').removeClass('active');
        			$('.main-menu').removeClass('show');


                    this.startComplement();

				},(error)=>{
					alert(error);
				});
			},
			startComplement:function()
			{
				setTimeout(function()
            	{	
            		'use strict';
					$('.video').magnificPopup({
						type: 'iframe'
					}); /* video modal*/
					$('.parallax-window').parallax({}); /* Parallax modal*/
					// Image popups

					$('.magnific-gallery').each(function () {
						$(this).magnificPopup({
							delegate: 'a',
							type: 'image',
							gallery: {
								enabled: true
							}
						});
					});

					$('.dropdown-menu').on("click", function (e) {
						e.stopPropagation();
					}); /* top drodown prevent close*/

					$('ul#top_tools li .dropdown').hover(function () {
						$(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn(300);
					}, function () {
						$(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut(300);
					});

					/* Hamburger icon */
					var toggles = document.querySelectorAll(".cmn-toggle-switch");

					for (var i = toggles.length - 1; i >= 0; i--) {
						var toggle = toggles[i];
						toggleHandler(toggle);
					};

					function toggleHandler(toggle) {
						toggle.addEventListener("click", function (e) {
							e.preventDefault();
							(this.classList.contains("active") === true) ? this.classList.remove("active"): this.classList.add("active");
						});
					};

					/* Scroll to top*/
					$(window).scroll(function () {
						if ($(this).scrollTop() != 0) {
							$('#toTop').fadeIn();
						} else {
							$('#toTop').fadeOut();
						}
					});
					$('#toTop').on("click", function () {
						$('body,html').animate({
							scrollTop: 0
						}, 500);
					});

					/* Input incrementer*/
					$(".numbers-row").append('<div class="inc button_inc">+</div><div class="dec button_inc">-</div>');
					$(".button_inc").on("click", function () {

						var $button = $(this);
						var oldValue = $button.parent().find("input").val();

						if ($button.text() == "+") {
							var newVal = parseFloat(oldValue) + 1;
						} else {
							// Don't allow decrementing below zero
							if (oldValue > 1) {
								var newVal = parseFloat(oldValue) - 1;
							} else {
								newVal = 0;
							}
						}
						$button.parent().find("input").val(newVal);
					});
				},1);
			},
			clickPattern:function(id)
		    {
		        axios.get('/vue/sumclick/'+id);
		    }
		}
	}
</script>