<template>    
    <main>
    <div class="tp-banner-container">
            <div class="tp-banner" >
            <ul>

                <li v-for="wallpaper in wallpapers"  data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                    <!-- MAIN IMAGE -->
                    <img v-bind:src="wallpaper.link_image"  alt="slidebg1" v-bind:data-lazyload="wallpaper.link_image" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption white_heavy_40 customin customout text-center text-uppercase textHiddenSmall" data-x="center" data-y="center" data-hoffset="0" data-voffset="-20" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1700" data-easing="Back.easeInOut" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">{{wallpaper.primary_text}}
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div v-if="wallpaper.secundary_text != '' " class="tp-caption customin tp-resizeme rs-parallaxlevel-0 text-center textHiddenSmall" data-x="center" data-y="center" data-hoffset="0" data-voffset="15" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2600" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.05" data-endelementdelay="0.1" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                        <div style="color:#ffffff; font-size:16px; text-transform:uppercase">
                            {{wallpaper.secundary_text}}</div>
                    </div>
                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption customin tp-resizeme rs-parallaxlevel-0" data-x="center" data-y="center" data-hoffset="0" data-voffset="70" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="500" data-start="2900" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-linktoslide="next" style="z-index: 12;">
                       <router-link :to="wallpaper.first_url" class="buttonBanner"><a class="button_intro buttonBanner">{{wallpaper.first_text_button}}</a></router-link>

                        <router-link v-if="wallpaper.second_url" :to="wallpaper.second_url" class="buttonBanner"><a class="button_intro outline buttonBanner">{{wallpaper.second_text_button}}</a></router-link>
                    </div>
                </li>
                 <!-- SLIDE  -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
<!--    <div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->

    <!-- Búsqueda -->
    <section id="search_container">
        <div id="search">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#transfers" data-toggle="tab">Actividades</a></li>
                <li><a href="#hotels" data-toggle="tab">Hoteles</a></li>
                <li><a href="#restaurants" data-toggle="tab">Restaurantes</a></li>
            </ul>

            <div class="tab-content">

                <!-- Actividades -->
                <div class="tab-pane active" id="transfers">
                    <h3>¿Qué quieres hacer?</h3>
                    <div class="row">
                        <div class="col-md-6" v-if="activities.length>0">
                            <div class="form-group">
                                <label class="select-label">Actividad</label>
                                <select class="form-control" v-model="activitySearch">

                                    <option value="">Seleccionar</option>
                                    <option v-for="activity in activities" :value="activity.slug">{{activity.service}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="select-label">Ciudad / Municipio</label>
                                <select class="form-control" v-model="municipalityActivitySearch">
                                    <option value="">Seleccione</option>
                                    <option v-for="municipality in activitiesMunicipalities" :value="municipality.slug">{{municipality.municipality_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>
                    <a href="#" @click.prevent="searchActivity" class="btn_1 green"><i class="icon-search"></i>Buscar</a>

                </div> <!-- End Actividades -->

                <!-- Hoteles -->
                <div class="tab-pane" id="hotels">
                    <h3>¡Encuentra el hotel que has soñado!</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="select-label">Ciudad / Municipio</label>
                                <select class="form-control" v-model="municipalityHotelSearch">
                                    <option value="">Seleccione</option>
                                    <option v-for="municipality in hotelsMunicipalities" :value="municipality.slug">{{municipality.municipality_name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                    <hr>

                    <a href="#" @click.prevent="searchHotel" class="btn_1 green"><i class="icon-search"></i>Buscar</a>

                </div> <!-- End Hoteles -->

                <!-- Restaurantes -->
                <div class="tab-pane" id="restaurants">
                    <h3>Experiencias gastronómicas al alcance</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="select-label">Ciudad / Municipio</label>
                                <select class="form-control" v-model="municipalityRestaurantSearch" v-on:change="kitchenType()">
                                    <option value="">Seleccione</option>
                                    <option v-for="municipality in restaurantsMunicipalities" :value="municipality.slug">{{municipality.municipality_name}}</option>
                                </select>
                            </div>
                        </div>
                        <div v-if="typeskitchen.length>0" class="col-md-6">
                            <div class="form-group">
                                <label class="select-label">Tipo de Cocina</label>
                                <select id="kitchentype"  class="form-control">
                                        <option value="" selected>Filtrar por tipo de cocina</option>
                                        <option v-for="type in typeskitchen" :value="type">{{type}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->

                    <hr>
                    <a href="#" @click.prevent="searchRestaurant" class="btn_1 green"><i class="icon-search"></i>Buscar</a>

                </div> <!-- End Restaurantes -->

            </div>
        </div>
    </section> <!-- End Búsqueda -->
    
    <!-- Planes Destacados -->
    <div class="container">

        <div v-if="patterns['top-middle-banner']!= null" id="banner">
            <div v-for="pattern in patterns['top-middle-banner']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="main_title">
            <h2><span>¡Experimenta </span>nuevas sensaciones!</h2>
            <p>Planes Destacados</p>
        </div>
        
        <div class="row">
        
            <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                <div class="tour_container">
                    <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                    <div class="img_container">
                        <router-link :to="'/home/service/'+service.slug">
                        <img :src="service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                        <div class="short_info">
                            <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                        </div>
                        </router-link>
                    </div>
                    <div class="tour_title">
                        <h3><strong>{{service.service_name}}</strong></h3>
                        <div class="rating" v-if="service.cuantity>0">
                            
                            <i class="icon-smile voted" v-for="votes in service.average"></i>
                            <i class="icon-smile" v-for="sad in 5-service.average"></i>

                            <small>({{service.cuantity}})</small>
                        </div><!-- end rating -->
                    </div>
                </div><!-- End box tour -->
            </div><!-- End col-md-4 -->
            
        </div><!-- End row -->
        <p class="text-center add_bottom_30">
            <router-link :to="'/home/services'" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes ({{plans}}) </router-link>
        </p>
    </div> <!-- End Planes Destacados -->
    <div id="banner">
        <div v-if="patterns['carrousel-banner-top']!= null" class="container">
            <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                <div class="img_wrapper_gallery">
                    <div class="img_container_gallery">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="'/'+pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="'/'+pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Carrousel -->
    <!-- Actividades -->
    <div class="white_bg">
        <div class="container margin_60">

            <div class="main_title">
            <h2><span>Destinos </span>que te encantarán</h2>
            <p>Lugares de <strong>Colombia</strong> en los que podrás realizar los <strong>deportes extremos</strong> que te apasionan</p>
        </div>

            <div class="row">
                <div class="col-md-3 col-sm-6 text-center" v-for="municipality in municipalities">
                    <p>
                         <router-link :to="'/home/municipality/'+municipality.slug"><img :src="municipality.link_icon" alt="Pic" class="img-responsive"></router-link>
                    </p>
                    <h4><span>{{municipality.municipality_name}}</span></h4>
                    <span v-html="municipality.description.substr(0,110)+'...' "></span><router-link :to="'/home/municipality/'+municipality.slug" class="btn_1">Ver más</router-link>

                </div>
            </div><!-- End row -->

        </div><!-- End container -->
    </div> <!-- End Actividades -->

    <!-- Map -->
    <div class="main_title">
        <div id="map" class="map"></div>
    </div> <!-- End Map -->

    <!-- Banner -->
    <div class="container">
         <div v-if="patterns['middle-banner']!= null" id="banner">
            <div v-for="pattern in patterns['middle-banner']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Banner -->
    
    <!-- Video -->
    <section class="promo_full" v-if="patterns['video-banner']!= null">
    <div class="promo_full_wp magnific">
            <div v-for="pattern in patterns['video-banner']">
                <div v-if="pattern.multimedia_type == 'Imagen'">
                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                </div>

                <div v-if="pattern.multimedia_type == 'Codigo'">
                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                    </div>
                </div>

                <div v-if="pattern.multimedia_type == 'Video'" >
                    <div >
                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
                    </div>
                </div>
            </div>
        <!--<div>
            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>-->
    </div>
    </section> <!-- End video -->

    <!-- Carrousel -->
    <div v-if="patterns['footer-banner']!= null" id="banner">
        <div class="container">
            <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                <div class="img_wrapper_gallery">
                    <div class="img_container_gallery">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                            <img :src="pattern.pattern" class="img-responsive">
                            <i class="icon-resize-full-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- End Carrousel -->
    </main>
</template>

<script>

import axios from 'axios';


export default {
  data () {
    return {
        wallpapers:[],
        municipalities:[],
        services:[],
        plans:0,
        patterns:[],
        metas:[],
        activities:[],
        activitySearch:'',
        municipalityActivitySearch:'',
        municipalityHotelSearch:'',
        municipalityRestaurantSearch:'',
        typeskitchen:[],
        activitiesMunicipalities:[],
        hotelsMunicipalities:[],
        restaurantsMunicipalities:[],
        //sixMunicipalities:[],
      errors: []
    };
  },
  created() {

    this.getWall();
    $("#preloader").css('display', 'initial');
    $('body,html').animate({
                scrollTop: 0
            }, 0);

  },
  metaInfo () {
      return {
        title: this.metas.title,
        titleTemplate: '%s | TuPaseo',
        meta: [
          { vmid: 'description', name: 'description', content: this.metas.description },
          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
        ]
      }
    },
  methods:{
    getWall:function()
    {
        axios.get('/vue/home').then(response => {
            this.wallpapers = response.data.wallpapers;
            this.municipalities = response.data.municipalities;
            this.services = response.data.services;
            this.plans = response.data.allPlans;
            this.patterns = response.data.patterns;
            this.metas = {'description':response.data.page.description,
                            'keywords':response.data.page.keywords,
                            'title':response.data.page.page_name };
            this.activities = response.data.activities;
            this.activitiesMunicipalities = response.data.activitiesMunicipalities;
            this.hotelsMunicipalities = response.data.hotelsMunicipalities;
            this.restaurantsMunicipalities = response.data.restaurantsMunicipalities;
            //this.sixMunicipalities = response.data.sixMunicipalities;
            this.createMap();
            $("#preloader").css('display', 'none');
            $('.cmn-toggle-switch').removeClass('active');
            $('.main-menu').removeClass('show');


        });
        
    },
    createMap:function()
    {
        var municipalities;
        municipalities = this.municipalities;
        setpoints(municipalities,'municipality');
        setTimeout(function()
        {
            jQuery('.tp-banner').show().revolution({
                        dottedOverlay: "none",
                        delay: 16000,
                        startwidth: 1170,
                        startheight: 550,
                        hideThumbs: 200,

                        thumbWidth: 100,
                        thumbHeight: 50,
                        thumbAmount: 5,

                        navigationType: "bullet",
                        navigationArrows: "solo",
                        navigationStyle: "none",

                        touchenabled: "on",
                        onHoverStop: "on",

                        swipe_velocity: 0.7,
                        swipe_min_touches: 1,
                        swipe_max_touches: 1,
                        drag_block_vertical: false,

                        parallax: "mouse",
                        parallaxBgFreeze: "on",
                        parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

                        keyboardNavigation: "off",

                        navigationHAlign: "center",
                        navigationVAlign: "bottom",
                        navigationHOffset: 0,
                        navigationVOffset: 20,

                        soloArrowLeftHalign: "left",
                        soloArrowLeftValign: "center",
                        soloArrowLeftHOffset: 20,
                        soloArrowLeftVOffset: 0,

                        soloArrowRightHalign: "right",
                        soloArrowRightValign: "center",
                        soloArrowRightHOffset: 20,
                        soloArrowRightVOffset: 0,

                        shadow: 0,
                        fullWidth: "on",
                        fullScreen: "off",

                        spinner: "spinner4",

                        stopLoop: "off",
                        stopAfterLoops: -1,
                        stopAtSlide: -1,

                        shuffle: "off",

                        autoHeight: "off",
                        forceFullWidth: "on",

                        hideThumbsOnMobile: "off",
                        hideNavDelayOnMobile: 1500,
                        hideBulletsOnMobile: "off",
                        hideArrowsOnMobile: "on",
                        hideThumbsUnderResolution: 0,

                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        startWithSlide: 0,
                        videoJsPath: "rs-plugin/videojs/",
                        fullScreenOffsetContainer: "",
                        hideSliderAtLimit:0
                    });
        },50);
       
    },
    kitchenType:function()
    {

        axios.post('/vue/gettypeskitchen',{municipality: this.municipalityRestaurantSearch}).then(response =>
        {
            this.typeskitchen = response.data.typeskitchen;
        });
    },
    searchActivity:function()
    {
        
        if(this.activitySearch!="" && this.municipalityActivitySearch!="")
        {
            this.activitySearch = this.activitySearch+',';

            this.$router.push({
            path: '/home/services',
            query: { activity: this.activitySearch,
                     municipality:  this.municipalityActivitySearch  }
            });
        }
        else if(this.activitySearch!="")
        {
            this.activitySearch = this.activitySearch+',';
            this.$router.push({
                path: '/home/services',
                query: { activity: this.activitySearch }
                });
        }
        else if(this.municipalityActivitySearch!="")
        {
            this.$router.push({
                path: '/home/services',
                query: {  municipality:  this.municipalityActivitySearch  }
                });
        }
        else{
            swal('Error!','Debe ingresar los parametros de búsqueda.','error');
        }
        
    },
    searchHotel:function()
    {
        if(this.municipalityHotelSearch!="")
        {
            this.$router.push({
                path: '/home/hotels',
                query: {  municipality:  this.municipalityHotelSearch  }
                });
        }
        else{
            swal('Error!','Debe ingresar los parametros de búsqueda.','error');
        }
    },
    searchRestaurant:function()
    {
        if(this.municipalityRestaurantSearch!="")
        {
            var type = $("#kitchentype").val();
            if(type !="")
            {
                this.$router.push({
                    path: '/home/restaurants',
                    query: {  municipality:  this.municipalityRestaurantSearch,
                                 type_kitchen: type   }
                    });
            }
            else
            {
                this.$router.push({
                    path: '/home/restaurants',
                    query: {  municipality:  this.municipalityRestaurantSearch}
                    });
            }
        }
        else{
            swal('Error!','Debe ingresar los parametros de búsqueda.','error');
        }
    },
    clickPattern:function(id)
    {
        axios.get('/vue/sumclick/'+id);
    },

    Alert:function()
    {
        alert("ok");
    }
  },
};
</script>
