<template>
    <main>
   <section id="hero" :style="'background: #4d536d url(/'+hotel.link_image+') no-repeat center center; width: 100%;height: auto;background-size: cover;'">
        <div class="intro_title">
            <h3 class="animated fadeInDown"></h3>
            <div class="parallax-content-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8" style="text-align:left;">
                        <h1>{{hotel.establishment_name}}</h1>
                        <span>{{hotel.address}}</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
		<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link>
                    </li>
                     <li v-if="hotel.municipality"><router-link :to="'/home/municipality/'+hotel.municipality.slug">{{hotel.municipality.municipality_name}}</router-link>
                    </li>
                    <li>{{hotel.establishment_name}}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
     <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
		<!-- Principal -->
        <div class="container margin_60">
			<div class="row">
				<div class="col-md-8" id="single_tour_desc">

                    <!-- Gallery -->
                    <div v-if="hotel.images && hotel.images.length > 0" id="Img_carousel" class="slider-pro">
                        <div class="sp-slides">
                            
                            <div v-for="(image, key) in hotel.images">
                                <div v-if="key==0" class="sp-slide">
                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
                                    <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                                        {{hotel.establishment_name}}
                                    </h3>
                                    <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-width="350" data-show-transition="left" data-show-delay="400" v-if="image.description">
                                        {{image.description}}
                                    </p>
                                </div>
                                <div v-else class="sp-slide">
                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
                                    <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400" v-if="image.description">
                                        {{image.description}}
                                    </p>
                                </div>
                            </div>
                            

                        </div>
                        <div class="sp-thumbnails" >
                            <img v-for="(image, key) in hotel.images" alt="Image" class="sp-thumbnail" :src="'/'+image.link_image">
                        </div>
                    </div> <!--End Gallery -->


					<hr>

					 <!-- Description -->
                    <div class="row">
                        <div class="col-md-12">
                            <div v-html="hotel.description"></div>
                        </div>
                    </div> <!--End Description -->
                    <hr>
                     <!--End Description -->
                    
					<!-- Services -->
                    <div class="row" v-if="listServices.length >0">
                        <div class="col-md-3">
                            <h3>Servicios</h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_icons">
                                        <li v-for="(service, index) in listServices" v-if="index<cantServices"><i class="icon-ok-circled2-1"></i> {{service.service_name}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_icons">
                                        <li v-for="(service, index) in listServices" v-if="index>=cantServices"><i class="icon-ok-circled2-1"></i> {{service.service_name}}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End row  -->
                        </div>
                        <!-- End col-md-9  -->
                    </div> <!--End Activities -->

                    <!-- Menu -->
                    <div class="row" v-if="rooms">
						<div class="col-md-3">
                            <h3>Alojamiento</h3>
						</div>
						<div class="col-md-9">

                            <div class=" table-responsive">
                                <table class="table table-striped" v-if="rooms[0] && rooms[0].length>0">
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                Habitaciones
                                            </th>
                                            <th colspan="2">
                                                Cantidad
                                            </th>
                                            <th colspan="2">
                                                Capacidad
                                            </th>
                                            <th colspan="2">
                                                Camas
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="room in rooms[0]">
                                            <td colspan="2">
                                                {{room.room}}
                                            </td>
                                            <td colspan="2">
                                                {{room.cuantity}}
                                            </td>
                                            <td colspan="2">
                                                {{room.capacity}}
                                            </td>
                                            <td colspan="2">
                                                {{room.bed}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped" v-if="rooms[1] && rooms[1].length>0">
    
                                    <thead>
                                        <tr>
                                            <th colspan="2">
                                                Suites
                                            </th>
                                            <th colspan="2">
                                                Cantidad
                                            </th>
                                            <th colspan="2">
                                                Capacidad
                                            </th>
                                            <th colspan="2">
                                                Camas
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="room in rooms[1]">
                                            <td colspan="2">
                                                {{room.room}}
                                            </td>
                                            <td colspan="2">
                                                {{room.cuantity}}
                                            </td>
                                            <td colspan="2">
                                                {{room.capacity}}
                                            </td>
                                            <td colspan="2">
                                                {{room.bed}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
					</div> <!--End Menu -->

                    <!-- Shedule -->
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Políticas</h3>
                        </div>
                        <div class="col-md-9">
                            <div class=" table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr v-for="day in schedule" v-if="!day.inactive">
                                            <td>
                                                {{day.name}}
                                            </td>
                                            <td>
                                                {{day.start}} - {{day.end}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div> <!--End Shedule -->

                  <!-- Video -->
                    <hr>
                    <div v-if="hotel.video" class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" :src="'https://www.youtube.com/embed/'+hotel.video" allowfullscreen></iframe>
                    </div> <!-- End video -->

				</div>

				<aside class="col-md-4">

                    <!-- Contact -->
                    <div class="box_style_2 expose">
                        <h3 class="inner">- Contacto -</h3>
                        <i class="icon_set_1_icon-90"></i>
                            <h4><span>Teléfono</span></h4>
                            <a :href="'tel://'+hotel.phone" class="phone">{{hotel.phone}}</a>
                        <i class="icon-location-6"></i>
                            <h4><span>Dirección</span></h4>
                            <p>{{hotel.address}}</p>
                        <div id="single_tour_feat" class="table-responsive" v-if="socialNetworks">
                            <h4><span>Redes Sociales</span></h4>
                                <ul>
                                    <li v-if="hotel.facebook"><a :href="hotel.facebook"><i class="icon-facebook-squared"></i>Facebook</a></li>
                                    <li v-if="hotel.twitter">><a :href="hotel.twitter"><i class="icon-twitter-squared"></i>Twitter</a></li>
                                    <li v-if="hotel.instagram"><a :href="hotel.twitter"><i class="icon-instagram"></i>Instagram</a></li>
                                    <li v-if="hotel.website"><a :href="hotel.website"><i class="icon-home"></i>Website</a></li>
                                </ul>
                        </div>
                    </div> <!-- End Contact -->

                    <!-- Map -->
                    <div class="box_style_5 expose">
                        <h3 class="inner">- Como llegar -</h3>
                        <div id="map" class="map"></div>
                    </div>
                        
					<!-- Banners -->
                    <div id="filters_col" class="hidden-sm hidden-xs" v-if="patterns['right-side-banner']!= null">
                        <div class="banner" v-for="pattern in patterns['right-side-banner']">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div> <!--End Banners-->

				</aside>
			</div>
			<hr>
		</div> <!--End Principal -->
        
        <!-- Planes Destacados -->
        <div class="container" v-if="services.length>0">
        
            <!-- Title Planes Destacados -->
            <div class="main_title">
                <h2 v-if="hotel.municipality"><span >Planes Destacados en </span>{{hotel.municipality.municipality_name}}</h2>
                <p>Disfruta las mejores actividades en esta ciudad</p>
            </div> <!-- End Title Planes Destacados -->
            
            <div class="row">

                <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span></div>
                        <div class="img_container">
                            <router-link :to="'/home/service/'+service.slug">
                            <img :src="service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                            <div class="short_info">
                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                            </div>
                            </router-link>
                        </div>
                        <div class="tour_title">
                            <h3><strong>{{service.service_name}}</strong></h3>
                            <div class="rating" v-if="service.cuantity>0">
                                
                                <i class="icon-smile voted" v-for="votes in service.average"></i>
                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                <small>({{service.cuantity}})</small>
                            </div><!-- end rating -->
                        </div>
                    </div><!-- End box tour -->
                </div><!-- End col-md-4 -->
                
            </div><!-- End row -->
            <p class="text-center add_bottom_30">
                <router-link :to="'/home/services'" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes ({{plans}}) </router-link>
            </p>
        </div> <!-- End Planes Destacados -->
        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overlay"></div>
		<!-- Mask on input focus -->
    </main>
</template>

<script>
    
import axios from 'axios';

    export default{
        data()
        {
            return{
                hotel:[],
                slug:'',
                metas:{'description':'','keywords':'','title':''},
                listServices:[],
                cantServices:0,
                rooms :[],
                schedule:[],
                socialNetworks:'',
                patterns:[],
                plans:0,
                services:[],
            }
        },
        mounted()
        {
            this.slug = this.$route.params.slug;
            this.getHotel();
            $("#preloader").css('display', 'initial');

            $('body,html').animate({
                scrollTop:0
            },0);
        },
        watch:{
            '$route.params.slug': function (id){
                this.slug = this.$route.params.slug;
                this.getHotel();
                this.metas = {'description':'','keywords':'','title':''}
            }
        },
        metaInfo (){
            return {
                title: this.metas.title!='' ? this.metas.title : this.hotel.establishment_name,
                titleTemplate: '%s | TuPaseo',
                meta: [
                  { vmid: 'description', name: 'description', content: this.metas.description },
                  { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
                ]
            }
        },
        methods:
        {
            getHotel:function()
            {
                axios.get('/vue/hotel/'+this.slug).then(response=>{
                    this.hotel = response.data.hotel;
                    this.listServices = response.data.hotel.services;
                    if(response.data.page)
                    {
                        this.metas = {'description':response.data.page.description,
                            'keywords':response.data.page.keywords,
                            'title':this.hotel.establishment_name };
                    }
                    if(this.listServices.length>0)
                    {
                        this.cantServices = Math.round(this.listServices.length/2);
                    }

                    this.rooms = response.data.rooms;
                    this.schedule = response.data.hotel.schedule;
                    this.socialNetworks = response.data.socialNetworks;
                    this.plans = response.data.allPlans;
                    this.services = response.data.plans;
                    this.patterns = response.data.patterns;
                    setTimeout(function()
                    {
                        $('#Img_carousel').sliderPro({
                            width: 960,
                            height: 500,
                            fade: true,
                            arrows: true,
                            buttons: false,
                            fullScreen: false,
                            smallSize: 500,
                            startSlide: 0,
                            mediumSize: 1000,
                            largeSize: 3000,
                            thumbnailArrows: true,
                            autoplay: false
                        });
                    },200);
                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');

                    this.createMap();
                },(error) => {
                        this.$router.push('/home');
                });
            },
            createMap:function()
            {
                var hotel;
                hotel = [this.hotel];
                setpoints(hotel,'hotel');
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
    }


</script>
