<template>
	<main>
       <!--<router-link :to="{ path: '/home/services?'+this.urlChain, query: { casa:'mela' }}"><i class="icon_set_1_icon-51"></i>Planes</router-link>-->
	    <section id="hero" :style="'background: #4d536d url(/front/img/slides/rappel.jpg) no-repeat center center; width: 100%;height: auto;background-size: cover;'">
	        <div class="intro_title">
	            <div class="parallax-content-1">
		             <div class="row">
		                <h1>¿Que experiencia quieres vivir hoy?</h1>
		                <p>Vive tu libertad</p>
		            </div>
		        </div>
	        </div>
	    </section>
        <!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                   <li><router-link :to="'/home'">Home</router-link>
                    </li>
                    <li>Servicios</li>
                </ul>
            </div>
        </div> <!-- End Position -->

        <div class="container margin_60">

            <div class="row">

		<!---<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
                <!-- Top Destinations Banner -->
                <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
				</div>
                <aside class="col-lg-3 col-md-3">

                    <!-- Filters Col -->
                    <div id="filters_col">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Opciones<i class="icon-plus-1 pull-right"></i></a>
                        <div class="collapse in" id="collapseFilters">

                            <!-- Region -->
                            <div class="filter_type">
                                <h6>Región</h6>
                                <ul>
                                    <li v-if="regions.length>0" v-for="region in regions">
                                        <label @click="regionClick">
                                            <input type="checkbox" :id="region.slug" class="checkRegion">{{region.region_name}}</label>
                                    </li>
                                </ul>
                            </div> <!-- End Region -->

                            <!-- Conditions -->
                            <div class="filter_type">
                                <h6>Tipo de Actividad</h6>
                                <ul>
                                    <li @click="typeClick">
                                        <label @click="typeClick">
                                            <input type="checkbox" @click="typeClick" id="Alto" class="checkType">Alto Impacto</label>
                                    </li>
                                    <li @click="typeClick">
                                        <label @click="typeClick">
                                            <input type="checkbox" @click="typeClick" id="Medio" class="checkType">Medio Impacto</label>
                                    </li>
                                    <li @click="typeClick">
                                        <label @click="typeClick">
                                            <input type="checkbox" @click="typeClick" id="Bajo" class="checkType">Bajo Impacto</label>
                                    </li>
                                </ul>
                            </div> <!-- End Conditions -->

                            <!-- Air Activities -->
                            <div v-for="(activities, ecosystem) in ecosystems" >
                            	<a data-toggle="collapse" :href="'#collapseFilter'+ecosystem" aria-expanded="false" :aria-controls="'collapseFilter'+ecosystem" id="filters_col_bt" v-if="activities.length>0"><h6>{{ecosystem}}<i class="icon-plus-1 pull-right"></i></h6></a>

	                            <div class="collapse in" :id="'collapseFilter'+ecosystem" v-if="activities.length>0">
	                            	<ul>
	                            		<li v-for="activity in activities" @click="activityClick"><label @click="activityClick"><input type="checkbox" class="checkActivity" :id="activity.slug" @click="activityClick">{{activity.service}}</label></li>
	                            	</ul>

	                            </div>
                            </div> <!-- End Air Activities -->

                            <!-- Price 
                            <div class="filter_type">
                                <h6>Price</h6>
                                <input type="text" id="range" name="range" value="">
                            </div>  End Price -->

                        </div>
                        <!--End collapse -->
                    </div> <!--End filters Col-->

                    <!-- Help -->
                    <div class="box_style_2">
                        <i class="icon_set_1_icon-57"></i>
                        <h4>¿Quieres <span>ayuda?</span></h4>
                        <a href="tel://00573165827931" class="phone">+57 316 5287931</a>
                        <small>Lunes a Viernes<br>8:30 am - 5:30 pm</small>
                    </div> <!-- End Help -->

                    <div id="filters_col" class="hidden-sm hidden-xs" v-if="patterns['left-side-banner']!= null">
                        <div class="banner" v-for="pattern in patterns['left-side-banner']">
                            <a :href="pattern.redirection" target="_blank">
                                <img :src="pattern.pattern" class="img-responsive">
                            </a>
                        </div>
                    </div> <!--End Banners-->

                </aside> <!--End aside -->

                <div class="col-lg-9 col-md-9">

                    <!-- Tools -->
                    <div id="tools">

                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_price" id="departmentSelect" @change="changeDepartment">
                                        <option value="" selected="">Filtrar por Departamento</option>
										<optgroup v-if="departments" v-for="(departmentslist, region) in departments" :label="region">
											<option v-for="department in departmentslist" :value="department.slug" :id="department.slug">{{department.department_name}}</option>
										</optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_rating" id="municipalitySelect" @change="changeMunicipality">
                                        <option value="" >Filtrar por municipio</option>
										<option v-for="municipality in municipalities" :value="municipality.slug">{{municipality.municipality_name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="styled-select-filters">
                                    <select name="sort_rating" id="priceSelect" @change="changePrice">
                                        <option value="" selected="">Organizar por precio</option>
                                        <option value="lower">Menor a Mayor</option>
                                        <option value="higher">Mayor a Menor</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div> <!-- End Tools -->

                    <!-- Item1 -->
                    <div v-for=" (service,index) in services" v-if="index < cuantity" class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row" v-bind:class="[index==0 ? 'active': '']">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span>
                                </div>
                                <div class="img_list">
                                    <router-link :to="'/home/service/'+service.slug">
                                    	<img :src="'/'+service.image_link" alt="Image">
                                        <div class="short_info"><i :class="service.icon_class"></i>{{service.name_principal_service}} </div>
                            		</router-link>
                                </div>
                            </div> <!-- End Image -->
                            <div class="clearfix visible-xs-block"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="tour_list_desc">
                                    <div class="rating" v-if="service.cuantity>0">
                                
		                                <i class="icon-smile voted" v-for="votes in service.average"></i>
		                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

		                                <small>({{service.cuantity}})</small>
		                            </div><!-- end rating -->

                                    <h3>{{service.service_name}}</h3>
                                    <p v-html="service.description.substr(0,110)+'...' "></p>
                                    <ul class="add_info">
	                            		<li>
                                            <div class="tooltip_styled tooltip_effect-4">
                                                <span>
	                                                <i class="icon_set_1_icon-37"></i>
	                                                <a :href="'/home/region/'+service.region.slug" target="_blank">Región {{service.region.region_name}}</a> | 
                                            		<a :href="'/home/municipality/'+service.municipality.slug">Cundinamarca</a>

	                                            </span>
                                                <div class="tooltip-content">
                                                    <strong>Esta información</strong> se abrirá en una nueva ventana
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
									</ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="price_list">
                                    <div>
                                    	<sup>$</sup>{{service.cost}}*<!--<span class="normal_price_list">$150.000</span>--><small>*Por persona</small>
                                        <p>
                                    		<router-link :to="'/home/service/'+service.slug" class="btn_1">Reservar</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--End Item1 -->

                   
                    <!-- Top Destinations Banner -->
                    <div id="carousel" class="carousel slide" data-ride="carousel">
			        	<div v-if="patterns['tour-banner-top']!= null" class="carousel-inner">
			        		<div class="carousel item active" v-for="(pattern,index) in patterns['tour-banner-top']" v-bind:class="[index==0 ? 'active': '']" >
                                <img class="d-block w-100" src="img/banners/ebanx.jpg" alt="First slide">
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                <img :src="'/'+pattern.pattern" class="d-block w-100">
	                            </a>
	                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                <img :src="'/'+pattern.pattern" class="d-block w-100">
	                            </a>
                            </div>
			            </div>
			        </div> 
                    

                    <!-- Item5 -->
                   <div v-for=" (service,index) in services" v-if="index>=cuantity &&index < cuantity*2" class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row" v-bind:class="[index==0 ? 'active': '']">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span>
                                </div>
                                <div class="img_list">
                                    <router-link :to="'/home/service/'+service.slug">
                                    	<img :src="'/'+service.image_link" alt="Image">
                                        <div class="short_info"><i :class="service.icon_class"></i>{{service.name_principal_service}} </div>
                            		</router-link>
                                </div>
                            </div> <!-- End Image -->
                            <div class="clearfix visible-xs-block"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="tour_list_desc">
                                    <div class="rating" v-if="service.cuantity>0">
                                
		                                <i class="icon-smile voted" v-for="votes in service.average"></i>
		                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

		                                <small>({{service.cuantity}})</small>
		                            </div><!-- end rating -->

                                    <h3>{{service.service_name}}</h3>
                                    <p v-html="service.description.substr(0,110)+'...' "></p>
                                    <ul class="add_info">
	                            		<li>
                                            <div class="tooltip_styled tooltip_effect-4">
                                                <span>
	                                                <i class="icon_set_1_icon-37"></i>
	                                                <a :href="'/home/region/'+service.region.slug" target="_blank">Región {{service.region.region_name}}</a> | 
                                            		<a :href="'/home/municipality/'+service.municipality.slug">Cundinamarca</a>

	                                            </span>
                                                <div class="tooltip-content">
                                                    <strong>Esta información</strong> se abrirá en una nueva ventana
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
									</ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="price_list">
                                    <div>
                                    	<sup>$</sup>{{service.cost}}*<!--<span class="normal_price_list">$150.000</span>--><small>*Por persona</small>
                                        <p>
                                    		<router-link :to="'/home/service/'+service.slug" class="btn_1">Reservar</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--End Item1 -->

                    <div id="carousel" class="carousel slide" data-ride="carousel">
			        	<div v-if="patterns['tour-banner-bottom']!= null" class="carousel-inner">
			        		<div class="carousel item active" v-for="(pattern,index) in patterns['tour-banner-bottom']" v-bind:class="[index==0 ? 'active': '']" >
                                <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                <img :src="'/'+pattern.pattern" class="d-block w-100">
	                            </a>
	                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
	                                <img :src="'/'+pattern.pattern" class="d-block w-100">
	                            </a>
                            </div>
			            </div>
			        </div> 
                        

                    <!-- Item5 -->
                   <div v-for=" (service,index) in services" v-if="index >= cuantity*2" class="strip_all_tour_list wow fadeIn" data-wow-delay="0.1s">
                        <div class="row" v-bind:class="[index==0 ? 'active': '']">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="ribbon_3 popular"><span>{{service.municipality.municipality_name}}</span>
                                </div>
                                <div class="img_list">
                                    <router-link :to="'/home/service/'+service.slug">
                                    	<img :src="'/'+service.image_link" alt="Image">
                                        <div class="short_info"><i :class="service.icon_class"></i>{{service.name_principal_service}} </div>
                            		</router-link>
                                </div>
                            </div> <!-- End Image -->
                            <div class="clearfix visible-xs-block"></div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <div class="tour_list_desc">
                                    <div class="rating" v-if="service.cuantity>0">
                                
		                                <i class="icon-smile voted" v-for="votes in service.average"></i>
		                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

		                                <small>({{service.cuantity}})</small>
		                            </div><!-- end rating -->

                                    <h3>{{service.service_name}}</h3>
                                    <p v-html="service.description.substr(0,110)+'...' "></p>
                                    <ul class="add_info">
	                            		<li>
                                            <div class="tooltip_styled tooltip_effect-4">
                                                <span>
	                                                <i class="icon_set_1_icon-37"></i>
	                                                <a :href="'/home/region/'+service.region.slug" target="_blank">Región {{service.region.region_name}}</a> | 
                                            		<a :href="'/home/municipality/'+service.municipality.slug">Cundinamarca</a>

	                                            </span>
                                                <div class="tooltip-content">
                                                    <strong>Esta información</strong> se abrirá en una nueva ventana
                                                    <br>
                                                </div>
                                            </div>
                                        </li>
									</ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="price_list">
                                    <div>
                                    	<sup>$</sup>{{service.cost}}*<!--<span class="normal_price_list">$150.000</span>--><small>*Por persona</small>
                                        <p>
                                    		<router-link :to="'/home/service/'+service.slug" class="btn_1">Reservar</router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--End Item1 -->

                   
                    <hr>

                    <!-- Pagination -->
                    <div class="text-center">
                        <ul class="pagination">
                            <li v-if="pagination.current_page >1">
                            	<a href="#" @click.prevent="changePage(pagination.current_page-1)">Anterior</a>
                            </li>
                            <li v-for="page in pagesNumber" v-bind:class="[ page== isActived  ? 'active': '']">
                            	<a href="#" @click.prevent="changePage(page)">{{page}}</a>
                            </li>
                            <li v-if="pagination.current_page < pagination.last_page">
                            	<a href="#" @click.prevent="changePage(pagination.current_page+1)">Siguiente</a>
                            </li>
                        </ul>
                    </div> <!-- End Pagination-->

                </div>
                <!-- End col lg-9 -->
            </div>
            <!-- End row -->
        </div>
        <!-- End container -->

        <!-- Middle Tours Banners -->
        <div id="banner">
        	<div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Video -->
        <section class="promo_full" v-if="patterns['video-banner']!= null">
		    <div class="promo_full_wp magnific">
		            <div v-for="pattern in patterns['video-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
		                    </div>
		                </div>
		            </div>
		        <!--<div>
		            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>-->
		    </div>
	    </section> <!-- End video -->
		<!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</main>

</template>
<script>
import axios from 'axios';


export default {
  data () {
    return {

    	slug:[],
    	regions:[],
    	ecosystems :[],
        services:[],
        departments:[],
        pagination:{
        	'total'		:0,
			'current_page':0,
			'per_page'	:0,
			'from'		:0,
			'last_page'	:0,
			'to'		:0,
        },
        municipalities:[],
        plans:0,
        patterns:[],
        metas:[],
        cuantity:0,
        offset:2,
        urlChain:'',
    };
  },
  mounted() {
  	
  	this.slug = this.$route.query;
    var self = this;
        setTimeout(function()
        {
            var x;
            for (x in self.slug)
            {

                var selector  = self.slug[x];
                if(x == "region" || x == "services" || x == "type" || x == "activity")
                {
                    var cadena = selector.split(',');
                    for (var i=0; i < cadena.length; i++) 
                    {
                        var element = cadena[i];
                        if(element!='')
                        {
                            $("#"+element).attr('selected', 'selected');
                            $("#"+element).iCheck('check'); 
                        }
                    }
                }
                else
                {
                    $("#"+self.slug[x]).attr('selected', 'selected');
                }

            }
        },1000);  
  	this.getServices();
     $("#preloader").css('display', 'initial');
    $('body,html').animate({
                scrollTop: 0
            }, 0);


  },
  watch:
  {
  	'$route.query':function()
  	{
  		this.slug = this.$route.query;
  		this.getServices();
  	}
  },
  metaInfo () {
      return {
        title: this.metas.title!='' && this.metas.title!=null ? this.metas.title : 'Lista de Servicios',
        titleTemplate: '%s | TuPaseo',
        meta: [
          { vmid: 'description', name: 'description', content: this.metas.description },
          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
        ]
      }
    },
    computed:
    {
    	//alumbra la pagina actual
    	isActived: function()
    	{
    		return this.pagination.current_page;
    	},	
    	//elementos que me aparecen en pantalla
    	pagesNumber:function()
    	{
    		if (!this.pagination.to)
    		{
    			return [];
    		}

    		var from = this.pagination.current_page - this.offset;// TO DO offset
    		if(from <1)
    		{
    			from = 1;
    		}

    		var to  = from + (this.offset * 2); //To do offset

    		if(!to>this.pagination.last_page )
    		{
    			to = this.pagination.last_page;
    		}

    		var pagesArray = [];
    		while(from <= to)
    		{
    			pagesArray.push(from);
    			from++;
    		}
    		return pagesArray;
    	}
    },
  methods:{
    getServices:function()
    {
    	axios.put('/vue/services',this.slug).then(response=>{
    		this.regions = response.data.regions;
    		this.ecosystems = response.data.ecosystems;
    		this.departments = response.data.departments;
    		this.municipalities = response.data.municipalities;
    		this.municipalities = response.data.municipalities;
    		this.services = response.data.services.data;
    		this.pagination = response.data.pagination;
    		this.cuantity = response.data.cuantity;
            $("#preloader").css('display', 'none');
            $('.cmn-toggle-switch').removeClass('active');
            $('.main-menu').removeClass('show');    
			this.startFunction();

    	});
    },
    startFunction:function()
    {
    	setTimeout(function()
                {
                	$('#cat_nav').mobileMenu();
                	$('input').iCheck({
						checkboxClass: 'icheckbox_square-grey',
						radioClass: 'iradio_square-grey'
					});
            	}
                ,50);
       
    },
    regionClick:function()
    {
		this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var regionsState = false;
				var regions = '';
		    	$(".checkRegion").each(function (index) 
		    	{  
		    		if($("#"+this.id).is(":checked"))
		    		{
		    			regionsState = true;
		    			regions+= this.id+',';
		    		}
			       
			    });
		    	if(regionsState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/services'+self.urlChain,
					    query: { region: regions }
					});
		    	}
		    	else{
		    		self.outChain('region');

		    		self.$router.push({
					   	path: '/home/services'+self.urlChain,
					});
		    	}
		},50);
    	
    },
    activityClick:function()
    {
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var activityState = false;
				var activities = '';
		    	$(".checkActivity").each(function (index) 
		    	{  
		    		if($("#"+this.id).is(":checked"))
		    		{
		    			activityState = true;
		    			activities+= this.id+',';
		    		}
			       
			    });
		    	if(activityState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/services'+self.urlChain,
					    query: { activity: activities }
					});
		    	}
		    	else{
		    		self.outChain('activity');
		    		self.$router.push({
					   	path: '/home/services'+self.urlChain,
					});
		    	}
		},50);
    },
    typeClick:function()
    {
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var typeState = false;
				var types = '';
		    	$(".checkType").each(function (index) 
		    	{  
		    		if($("#"+this.id).is(":checked"))
		    		{
		    			typeState = true;
		    			types+= this.id+',';
		    		}
			       
			    });
		    	if(typeState)
		    	{
		    		self.outChain('activity');
		    		//busqueda
					self.$router.push({
					   	path: '/home/services'+self.urlChain,
					    query: { type: types }
					});
		    	}
		    	else{
		    		self.outChain('type');
		    		self.$router.push({
					   	path: '/home/services'+self.urlChain,
					});
		    	}
		},50);
    },
    changeDepartment:function()
    {
    	console.log($("#departmentSelect").val());
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var departmentState = false;
				var department = '';
		    	
	    		if($("#departmentSelect").val()!='')
	    		{
	    			departmentState = true;
	    			department =$("#departmentSelect").val();
	    		}
			       
		    	if(departmentState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/services'+self.urlChain,
					    query: { department: department }
					});
		    	}
		    	else{
		    		self.outChain('department');
		    		self.$router.push({
					   	path: '/home/services'+self.urlChain,
					});
		    	}
		},50);
    },
    changeMunicipality:function()
    {
    	console.log($("#municipalitySelect").val());
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var municipalityState = false;
				var municipality = '';
		    	
	    		if($("#municipalitySelect").val()!='')
	    		{
	    			municipalityState = true;
	    			municipality =$("#municipalitySelect").val();
	    		}
			       
		    	if(municipalityState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/services'+self.urlChain,
					    query: { municipality: municipality }
					});
		    	}
		    	else{
		    		self.outChain('municipality');
		    		self.$router.push({
					   	path: '/home/services'+self.urlChain,
					});
		    	}
		},50);
    },
    changePrice:function()
    {
    	console.log($("#priceSelect").val());
    	this.getChain();
		//self variable auxiliar dentro de la funcion para indicar que es this :v
		var self = this;
		setTimeout(function()
                {
				var priceState = false;
				var price = '';
		    	
	    		if($("#priceSelect").val()!='')
	    		{
	    			priceState = true;
	    			price =$("#priceSelect").val();
	    		}
			       
		    	if(priceState)
		    	{
		    		//busqueda
					self.$router.push({
					   	path: '/home/services'+self.urlChain,
					    query: { price: price }
					});
		    	}
		    	else{
		    		self.outChain('price');
		    		self.$router.push({
					   	path: '/home/services'+self.urlChain,
					});
		    	}
		},50);
    },
    getChain:function()
    {
    	this.urlChain='';
    	var x; 
    	var i=0;
    	for (x in this.slug)
    	{
    		if (i==0) this.urlChain+='?'
    		else this.urlChain+='&'
    		this.urlChain += x+'=';
    		this.urlChain +=this.slug[x];
    		i++;
    	}
    },
    outChain:function(outPlace)
    {
    	this.urlChain='';
    	var x; 
    	var i=0;
    	for (x in this.slug)
    	{
    		if(x!=outPlace)
    		{
    			if (i==0) this.urlChain+='?'
	    		else this.urlChain+='&'
	    		this.urlChain += x+'=';
	    		this.urlChain +=this.slug[x];
	    		i++;
    		}
    		
    	}
    },
    clickPattern:function(id)
    {
        axios.get('/vue/sumclick/'+id);
    },
    changePage:function(page)
    {
    	this.pagination.current_page = page;
    	this.getChain();

		this.$router.push({
		   	path: '/home/services'+this.urlChain,
		    query: { page: page }
		});
    
    },

    Alert:function()
    {
        alert("ok");
    }
  },
};
</script>
