<template>
	<main>
		 <!-- Title -->

	     <section id="hero" :style="'background: #4d536d url(/front/img/slides/rappel.jpg) no-repeat center center; width: 100%;height: auto;background-size: cover;'">
	        <div class="intro_title">
	            <div class="parallax-content-1">
		             <div class="row">
		                <h1>Hoteles</h1>
	                	<p>Una experiencia por descubrir</p>
		            </div>
		        </div>
	        </div>
	    </section>
		<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                   <li><router-link :to="'/home'">Home</router-link>
                   </li>
                    <li>Lista de hoteles</li>
                </ul>
            </div>
      	</div>

        <div class="container margin_60">

            <div class="row">

                <!--<div class="col-sm-12">
                    <pre>
                        {{$data}} 
                    </pre>
                </div>-->

                <!-- Top Directory Banner -->
                <div v-if="patterns['top-middle-banner']!= null" id="banner">
                    <div v-for="pattern in patterns['top-middle-banner']">
                        <div v-if="pattern.multimedia_type == 'Imagen'">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                        </div>

                        <div v-if="pattern.multimedia_type == 'Codigo'">
                            <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                            </div>
                        </div>

                        <div v-if="pattern.multimedia_type == 'Video'" >
                            <div >
                                <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
                            </div>
                        </div>
                    </div>
        		</div> <!-- End Top Directory Banner -->

        		<div class="container">

        			<div class="row">
        				<aside class="col-lg-3 col-md-3">

        					<!-- Lateral Filter -->
                            <div class="box_style_cat">
        						<ul id="cat_nav">
        							<li><a href="#" id="active"  @click.prevent="allHotels()"><i class="icon_set_3_restaurant-10"></i>Todos los Hoteles <span>({{cant_hotels}})</span></a>
        							</li>
        							<li v-for="municipality in municipalities">
        								<a href="#" @click.prevent="municipalityClick(municipality.slug)"><i class="icon_set_3_restaurant-1"></i>{{municipality.municipality_name}} <span>({{municipality.cant_hotels}})</span></a>
        							</li>
        						</ul>
        					</div> <!-- End Lateral Filter -->

        					<!-- Directory Lateral Banners -->
        					<div id="filters_col" class="hidden-sm hidden-xs" v-if="patterns['left-side-banner']!= null">
                                <div class="banner" v-for="pattern in patterns['left-side-banner']">
                                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="pattern.pattern" class="img-responsive">
                                    </a>
                                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                        <img :src="pattern.pattern" class="img-responsive">
                                    </a>
                                </div>
                            </div> <!--End Directory Lateral Banners-->
        				</aside> <!--End aside -->

        				<div class="col-lg-9 col-md-9">

        					<!-- Top Filter -->
                            <div id="tools">
                                <div class="row">

                                    <!-- Search -->
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="input-group">
                                            <input type="text" name="search" placeholder="Buscar Hotel" class="form-control style-2" v-model="name" >
                                            <span class="input-group-btn">
                                                <button class="btn" type="submit" value="Buscar" @click.prevent="searchName">
                                                    <i class="icon-search"></i>
                                                    Buscar
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- End Top Filter -->

                            <!-- Directory -->
                            <div class="row">

        		                <div v-if="hotels.length>0" v-for="hotel in hotels"  class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: zoomIn;">
        		                    <div class="tour_container">
        		                        <div class="ribbon_3 popular"><span>{{hotel.municipality.municipality_name}}</span></div>
        		                        <div class="img_container">
        		                             <router-link :to="'/home/hotel/'+hotel.slug">
        		                                <img :src="'/'+hotel.image_link" class="img-responsive" alt="image">
        		                            </router-link>
        		                        </div>
        		                        <div class="tour_title">
        		                            <h3><b>{{hotel.establishment_name}}</b></h3>
        		                            <span v-html="hotel.description.substr(0,110)+'...' "></span><router-link :to="'/home/hotel/'+hotel.slug">Ver más</router-link>
        		                        </div>
        		                    </div><!-- End box tour -->
        		                </div> <!-- End Hotel1 -->
                                <div v-else>
                                    <h3>No se ha encontrado resultado de la busqueda</h3>
                                </div>
                            </div> <!-- End Directory -->

        					<!-- Pagination-->
                            <hr>
                            <!-- Pagination -->
                            <div class="text-center">
                                <ul class="pagination">
                                    <li v-if="pagination.current_page >1">
                                    	<a href="#" @click.prevent="changePage(pagination.current_page-1)">Anterior</a>
                                    </li>
                                    <li v-for="page in pagesNumber" v-bind:class="[ page== isActived  ? 'active': '']">
                                    	<a href="#" @click.prevent="changePage(page)">{{page}}</a>
                                    </li>
                                    <li v-if="pagination.current_page < pagination.last_page">
                                    	<a href="#" @click.prevent="changePage(pagination.current_page+1)">Siguiente</a>
                                    </li>
                                </ul>
                            </div> <!-- End Pagination-->

        				</div>
        				<!-- End col lg-9 -->
        			</div>
        			<!-- End row -->

                    <!-- Mobile Directory Lateral Banners -->
                    <div id="filters_col" class="visible-xs col-xs-12" v-if="patterns['left-side-banner']!= null">

                        <div class="banner" v-for="pattern in patterns['left-side-banner']">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                            </a>
                        </div>

                    </div> <!--End Mobile Directory Lateral Banners-->

        		</div> <!-- End container -->
            </div>
        </div>
         <!-- Middle Tours Banners -->
        <div id="banner">
        	<div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <!-- Video -->
        <section class="promo_full" v-if="patterns['video-banner']!= null">
		    <div class="promo_full_wp magnific">
		            <div v-for="pattern in patterns['video-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
		                    </div>
		                </div>
		            </div>
		        <!--<div>
		            <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		        </div>-->
		    </div>
	    </section> <!-- End video -->
		<!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</main>

</template>

<script>
import axios from 'axios';

	export default
	{
		data () 
		{

		    return {

		    	slug:[],
		    	hotels:[],
		    	municipalities :[],
		        cant_hotels:0,
		        pagination:{
		        	'total'		:0,
					'current_page':0,
					'per_page'	:0,
					'from'		:0,
					'last_page'	:0,
					'to'		:0,
		        },
		        patterns:[],
                name:'',
		        metas:[],
		        offset:2,
		        urlChain:'',
    		};
	  	},
	  mounted() {
	  	
	  	this.slug = this.$route.query;

	  	this.getHotels();
	     $("#preloader").css('display', 'initial');
	    $('body,html').animate({
	                scrollTop: 0
	            }, 0);


	  },
	  watch:
	  {
	  	'$route.query':function()
	  	{
	  		this.slug = this.$route.query;
	  		this.getHotels();
	  	}
	  },
	  metaInfo () {
	      return {
	        title: this.metas.title!='' && this.metas.title!=null ? this.metas.title : 'Lista de hoteles',
	        titleTemplate: '%s | TuPaseo',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
    computed:
    {
    	//alumbra la pagina actual
    	isActived: function()
    	{
    		return this.pagination.current_page;
    	},	
    	//elementos que me aparecen en pantalla
    	pagesNumber:function()
    	{
    		if (!this.pagination.to)
    		{
    			return [];
    		}

    		var from = this.pagination.current_page - this.offset;// TO DO offset
    		if(from <1)
    		{
    			from = 1;
    		}

    		var to  = from + (this.offset * 2); //To do offset

    		if(!to>this.pagination.last_page )
    		{
    			to = this.pagination.last_page;
    		}

    		var pagesArray = [];
    		while(from <= to)
    		{
    			pagesArray.push(from);
    			from++;
    		}
    		return pagesArray;
    	}
    },
  methods:{
    getHotels:function()
    {
    	axios.put('/vue/hotels',this.slug).then(response=>{
    		this.hotels = response.data.hotels.data;
    		this.municipalities = response.data.municipalities;
    		this.pagination = response.data.pagination;
    		this.cant_hotels = response.data.cantHotels;
            $("#preloader").css('display', 'none');
            $('.cmn-toggle-switch').removeClass('active');
            $('.main-menu').removeClass('show');
                 
            
    	});
    },
    startFunction:function()
    {
    	setTimeout(function()
        {
        	$('#cat_nav').mobileMenu();
        	$('input').iCheck({
				checkboxClass: 'icheckbox_square-grey',
				radioClass: 'iradio_square-grey'
			});
    	}
        ,1);
       
    },
    municipalityClick:function(municipality)
    {
		this.getChain();

		//busqueda
        this.outChain('name');

		this.$router.push({
		   	path: '/home/hotels'+this.urlChain,
		    query: { municipality: municipality }
		});
    	
    },
    searchName:function()
    {
       this.getChain();

       if(this.name!="")
       {
         this.$router.push({
                path: '/home/hotels'+this.urlChain,
                query: { name: this.name }
            });
       }
       else
       {
         this.outChain('name');
            this.$router.push({
                path: '/home/hotels'+this.urlChain,
            });
       }
       
    },
    allHotels:function()
    {
        this.slug = [];
        this.getChain();
        this.outChain('municipality');
        this.outChain('name');
        this.$router.push({
            path: '/home/hotels'+this.urlChain,
        });
    },
    getChain:function()
    {
    	this.urlChain='';
    	var x; 
    	var i=0;
    	for (x in this.slug)
    	{
    		if (i==0) this.urlChain+='?'
    		else this.urlChain+='&'
    		this.urlChain += x+'=';
    		this.urlChain +=this.slug[x];
    		i++;
    	}
    },
    outChain:function(outPlace)
    {
    	this.urlChain='';
    	var x; 
    	var i=0;
    	for (x in this.slug)
    	{
    		if(x!=outPlace)
    		{
    			if (i==0) this.urlChain+='?'
	    		else this.urlChain+='&'
	    		this.urlChain += x+'=';
	    		this.urlChain +=this.slug[x];
	    		i++;
    		}
    		
    	}
    },
    changePage:function(page)
    {
    	this.pagination.current_page = page;
    	this.getChain();

		this.$router.push({
		   	path: '/home/hotels'+this.urlChain,
		    query: { page: page }
		});
    },
    clickPattern:function(id)
    {
        axios.get('/vue/sumclick/'+id);
    },
  },
};
</script>