<template>
	<main>
		<!-- Title -->
	    <section id="hero" :style="'background: #4d536d url(/'+municipality.link_image+') no-repeat center center; width: 100%;height: auto; text-align: initial!important;background-size: cover;'" class="parallax-window" data-parallax="scroll">
	        <div class="parallax-content-2">
	            <div class="container">
	                <div class="row">
	                    <div class="col-md-8 col-sm-8">
	                        <h1 >{{municipality.municipality_name}}</h1>
	                        <span  v-if="municipality.department && municipality.region">{{municipality.department.department_name}}</a>, Región {{municipality.region.region_name}} </span>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>

		<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
					<li><router-link :to="'/home'">Home</router-link>
					</li>
                    <li v-if="municipality.region"><router-link :to="'/home/region/'+municipality.region.slug">{{municipality.region.region_name}}</router-link>
					</li>
                    <li>{{municipality.municipality_name}}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
 <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->

        <!-- Principal -->
        <div class="container margin_60">
            <div class="row">

                <!-- Top Banner -->
                <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
		        </div>
                 <!-- End Top Banner -->

                <div class="col-md-8" id="single_tour_desc">

                    <!-- Gallery -->
                    <div v-if="municipality.images && municipality.images.length > 0" id="Img_carousel" class="slider-pro">
                        <div class="sp-slides">
							
							<div v-for="(image, key) in municipality.images">
								<div v-if="key==0" class="sp-slide">
	                                <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
	                                <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
	                                    {{municipality.municipality_name}}
	                                </h3>
	                                <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-width="350" data-show-transition="left" data-show-delay="400"  v-if="image.description">
	                                    {{image.description}}
	                                </p>
	                            </div>
	                            <div v-else class="sp-slide">
	                                <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
	                                <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400"  v-if="image.description">
	                                    {{image.description}}
	                                </p>
	                            </div>
							</div>
                            

                        </div>
                        <div class="sp-thumbnails" >
                            <img v-for="(image, key) in municipality.images" alt="Image" class="sp-thumbnail" :src="'/'+image.link_image">
                        </div>
                    </div> <!--End Gallery -->

                    <hr>

                    <!-- Description -->
                    <div class="row">
                        <div class="col-md-12">
                            <div v-html="municipality.description"></div>
                        </div>
                    </div> <!--End Description -->
                    <hr>
                    
                    <!-- Activities -->
                    <div class="row" v-if="listServices.length >0">
                        <div class="col-md-3">
                            <h3>Que hacer en <span>{{municipality.municipality_name}}</span></h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_icons">
                                        <li v-for="(service, index) in listServices" v-if="index<cantServices">
                                            <a href="planes.html"><i :class="service.icon_class"></i> {{service.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_icons">
                                        <li v-for="(service, index) in listServices" v-if="index>=cantServices">
                                            <a href="planes.html"><i :class="service.icon_class"></i> {{service.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End row  -->
                        </div>
                        <!-- End col-md-9  -->
                    </div> <!--End Activities -->

                    <div id="weather" class="clearfix"></div> <!--End weather-->
                    
                    <!-- Video -->
                    <hr>
                    <div v-if="municipality.video && municipality.video.length > 0" class="embed-responsive embed-responsive-16by9">
                      <iframe v-for="video in municipality.video" class="embed-responsive-item" :src="'https://www.youtube.com/embed/'+video.link_video" allowfullscreen></iframe>
                    </div> <!-- End video -->

                </div>

                <aside class="col-md-4">

                    <!-- Map -->
                    <div class="box_style_5 expose">
                        <h3 class="inner">- Como llegar -</h3>
                        <div id="map" class="map"></div>
                    </div> <!--End Map-->
                    <!-- Key Info -->
                    <div class="box_style_5 expose" v-if="keydata.length > 0">
                        <h3 class="inner">- Datos Clave -</h3>
                        <div class="row">

                            <div class="col-md-12 text-center" v-for="(data,index) in keydata">
                                <i class="icon-info-circled" style="font-size: 30px" v-if="index == 'Información de Contacto' "></i>
                                <i class="icon-bus" style="font-size: 30px" v-else></i>
                                <p> {{index}} </p>
                                    <div class=" table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr v-for="info in data">
                                                    <td>
                                                        {{info.keydata_name}}
                                                    </td>
                                                    <td>
                                                        {{info.keydata_value}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                            </div> <!-- End Range -->
                        </div>
                    </div> <!--End Key Info-->
                    <!-- Restaurants -->
                    <div class="box_style_2 expose" v-if="cantRestaurants>0">
                        <h3 class="inner">- Restaurantes -</h3>
                        <div class="row">

                           <div class="col-md-6" v-for="restaurant in restaurants">
                                    <div class="tour_container">
                                        <div class="img_container">
                                            <router-link :to="'/home/restaurant/'+restaurant.slug">
                                                <img :src="'/'+restaurant.link_image" width="800" height="533" class="img-responsive" alt="Image">
                                            </router-link>
                                        </div> <!-- end image -->
                                        <div class="tour_title">
                                            <h3><strong>{{restaurant.establishment_name}}</strong></h3> <!-- end name -->
                                        </div>
                                    </div>
                                    <!-- End box tour -->
                            </div> <!-- End Item1 -->
                        </div>
                        <div v-if="cantRestaurants>2">
                            <router-link :to="'/home/hotels/'">Ver más</router-link>
                        </div>
                    </div> <!-- End Restaurants -->

                    <!-- Hotels -->
                    <div class="box_style_2 expose" v-if="cantHotels>0">
                        <h3 class="inner">- Hoteles -</h3>
                        <div class="row">
                            <div class="col-md-6" v-for="hotel in hotels">
                                    <div class="tour_container">
                                        <div class="img_container">
                                            <router-link :to="'/home/hotel/'+hotel.slug">
                                                <img :src="'/'+hotel.link_image" width="800" height="533" class="img-responsive" alt="Image">
                                            </router-link>
                                        </div> <!-- end image -->
                                        <div class="tour_title">
                                            <h3><strong>{{hotel.establishment_name}}</strong></h3> <!-- end name -->
                                        </div>
                                    </div>
                                    <!-- End box tour -->
                            </div> <!-- End Item1 -->
                        </div>
                        <div v-if="cantHotels>2">
                            <router-link :to="'/home/hotels/'">Ver más</router-link>
                        </div>

                    </div> <!-- End Hotels -->

                </aside>
            </div>

            <!-- Middle Activities Banners -->
        <!-- Carrousel -->
        <div id="banner">
        	<div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->
            <hr>
        </div> <!--End Principal -->
        
        <!-- Planes Destacados -->
        <div class="container">
        
            <!-- Title Planes Destacados -->
            <div class="main_title">
                <h2><span>Planes Destacados en </span>{{municipality.municipality_name}}</h2>
                <p>Disfruta las mejores actividades en esta ciudad</p>
            </div> <!-- End Title Planes Destacados -->
            
            <div class="row">


                <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{municipality.municipality_name}}</span></div>
                        <div class="img_container">
                            <router-link :to="'/home/service/'+service.slug">
                            <img :src="'/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                            <div class="short_info">
                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                            </div>
                            </router-link>
                        </div>
                        <div class="tour_title">
                            <h3><strong>{{service.service_name}}</strong></h3>
                            <div class="rating" v-if="service.cuantity>0">
                                
                                <i class="icon-smile voted" v-for="votes in service.average"></i>
                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                <small>({{service.cuantity}})</small>
                            </div><!-- end rating -->
                        </div>
                    </div><!-- End box tour -->
                </div><!-- End col-md-4 -->
                
                
            </div><!-- End row -->
            <p class="text-center add_bottom_30">
                <router-link :to="'/home/services'" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes ({{plans}}) </router-link>
            </p>
        </div> <!-- End Planes Destacados -->
		<!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Carrousel -->
        <div id="overlay"></div>
        <!-- Mask on input focus -->




	</main>

</template>

<script>
import axios from 'axios';

	export default
	{
		data(){
			return{
				municipality:[],
				slug:'',
        		metas:{'description':'','keywords':'','title':''},
        		services:[],
                patterns:[],
                keydata:[],
                hotels:[],
                cantHotels:0,
                restaurants:[],
                cantRestaurants:0,
                listServices:[],
                plans:0,
                cantServices:0,
			}
		},
		mounted()
		{
			this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
			this.getMunicipality();
			$('body,html').animate({
                scrollTop: 0
            }, 0);
		},
		watch:{
			'$route.params.slug':function(id)
			{
				this.slug = this.$route.params.slug
				this.metas = {'description':'','keywords':'','title':''};
				this.getMunicipality();
			}
		},
		metaInfo(){
			return{
				title: this.metas.title!='' ? this.metas.title : this.municipality.municipality_name,
				titleTemplate: '%s | TuPaseo',
				meta: [
					{ vmid: 'description', name:'description',content: this.metas.title},
					{ vmid: 'keywords', name:'keywords', content: this.metas.keywords}
				]
			}
		},
		methods:
		{
			getMunicipality:function()
			{
				axios.get('/vue/municipality/'+this.slug).then(response=>{
					this.municipality = response.data.municipality;
					this.services = response.data.plans;
					this.plans = response.data.allPlans;
					if(response.data.page)
            		{
            			this.metas = {'description':response.data.page.description,
                            'keywords':response.data.page.keywords,
                            'title':response.data.page.page_name };
            		}
                    this.keydata = response.data.keydata;
                    this.listServices = response.data.services;
                    if(this.listServices.length>0)
                    {
                        this.cantServices = Math.round(this.listServices.length/2);
                    }
                    this.hotels = response.data.hotels;
                    this.cantHotels = response.data.cantHotels;
                    this.restaurants = response.data.restaurants;
                    this.cantRestaurants = response.data.cantRestaurants;
                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
            		specificCarousel();
                    this.createMap();

				},(error) => {
                        this.$router.push('/home');
                });
			},
            createMap:function()
            {
                var municipalities;
                municipalities = [this.municipality];
                setpoints(municipalities,'municipality');
                weather(this.municipality.municipality_name);
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>