<template>
	<div>
		<!-- Top Menú -->
        <div id="top_line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6"><i class="icon-phone"></i><strong>+57 (1) 3121540 | +57 316 5287931</strong></div>
                    
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <ul id="top_links">
                            <li v-if="user.loginState=='inactive'">
                                <div class="dropdown dropdown-access">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="access_link">Ingresar | Registrarse</a>
                                    <div class="dropdown-menu">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <a href="/auth/facebook" class="bt_facebook">
                                                <i class="icon-facebook"></i>Facebook </a>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <a href="/auth/google" class="bt_paypal">
                                                <i class="icon-google"></i>Google </a>
                                            </div>
                                        </div>
                                        <div class="login-or">
                                            <hr class="hr-or">
                                            <span class="span-or">o</span>
                                        </div>
                                        <form action="/login" method="post">
                                            <input type="hidden" name="_token" :value="token">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputUsernameEmail" name="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
                                        </div>
                                        <a id="forgot_pw" href="#">Recordar contraseña</a>
                                            <input type="submit" name="Sign_in" value="Iniciar sesión" id="Sign_in" class="button_drop">
                                            <!-- Button trigger modal -->
                                            <a href="#" @click.prevent="registerClick" class="button_drop outline" >
                                            Registrarse
                                            </a>
                                        </form>
                                    </div>
                                </div><!-- End Dropdown access -->
                            </li>
                            <li v-else>
                                <div class="dropdown dropdown-access" v-if="user.type_user == 'operator'">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img v-if="user.avatar" :src="user.avatar" alt="" style=" width: 25px;height: 25px;border-radius: 50%;border: 1px solid rgba(255, 255, 255, 0.3);">  
                                        <img v-else src="/img/no-profile-image.png" alt="" style=" width: 25px;height: 25px;border-radius: 50%;border: 1px solid rgba(255, 255, 255, 0.3);">  
                                        {{user.name}}</a>
                                    <div class="dropdown-menu">
                                        <a href="/operator/home" title="" class="col-md-12" style="color:#666;font-size: 15px;border-bottom: 1px solid #ededed;text-align:center">Panel administrativo</a> 
                                        <a href="/operator/profile" title="" class="col-md-12" style="color:#666;font-size: 15px;border-bottom: 1px solid #ededed;text-align:center">Mi perfil</a> 
                                        <a href="/logout" title="" class="col-md-12" style="color:#666;font-size: 15px;border-bottom: 1px solid #ededed;text-align:center">Cerrar sesión</a> 
                                    </div>
                                </div><!-- End Dropdown access -->
                                <div class="dropdown dropdown-access" v-else-if="user.type_user == 'customer'">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img v-if="user.avatar" :src="user.avatar" alt="" style=" width: 25px;height: 25px;border-radius: 50%;border: 1px solid rgba(255, 255, 255, 0.3);">  
                                        <img v-else src="/img/no-profile-image.png" alt="" style=" width: 25px;height: 25px;border-radius: 50%;border: 1px solid rgba(255, 255, 255, 0.3);">  
                                            {{user.first_name}} {{user.last_name}}</a>
                                    <div class="dropdown-menu">
                                        <a href="/user/home" title="" class="col-md-12" style="color:#666;font-size: 15px;border-bottom: 1px solid #ededed;text-align:center">Mis reservaciones</a> 
                                        <a href="/userprofile" title="" class="col-md-12" style="color:#666;font-size: 15px;border-bottom: 1px solid #ededed;text-align:center">Mi perfil</a> 
                                        <a href="/logout" title="" class="col-md-12" style="color:#666;font-size: 15px;border-bottom: 1px solid #ededed;text-align:center">Cerrar sesión</a> 
                                    </div>
                                </div><!-- End Dropdown access -->
                            </li>
                            <li id="lang_top"><i class="icon-globe-1"></i> <a href="#0">IDIOMA</a></a>
                            </li>
                            <li id="social_top">
                                <a href="https://www.facebook.com/tupaseoColombia/" target="_blank"><i class="icon-facebook"></i></a> 
                                <a href="https://www.instagram.com/tupaseo/" target="_blank"><i class="icon-instagram"></i></a> 
                                <a href="/contact"><i class="icon-mail"></i></a>
                            </li>
                        </ul>
                    </div>
                </div><!-- End row -->
            </div><!-- End container-->
        </div><!-- End Top Menú -->
        <!-- Menú -->
        <div class="container" v-if="route.path.substr(0,5)=='/home'">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                    	<h1><router-link :to="'/home'"  title="TuPaseo">TuPaseo.Travel</router-link></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);" id="cmn-toggle-switch"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img :src="'/front/img/logo.png'" alt="Tu Paseo" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <router-link :to="'/home'" class="show-submenu">Home </router-link>
                            </li>
                            <li class="submenu">
                                <router-link :to="'/home/services'" class="show-submenu">Planes</router-link>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Destinos <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li v-for="region in regions"><router-link :to="'/home/region/'+region.slug">{{region.region_name}}</router-link></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Actividades <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li v-for="ecosystem in ecosystems"><router-link :to="'/home/ecosystem/'+ecosystem.slug">En {{ecosystem.ecosystem_category}}</router-link></li>
                                </ul>
                            </li>
                              <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Directorio de Servicios <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><router-link :to="'/home/hotels'" class="show-submenu">Hoteles</router-link></li>
                                    <li><router-link :to="'/home/restaurants'" class="show-submenu">Restaurantes</router-link></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    <ul id="top_tools"  v-if="!(user.type_user && user.type_user =='operator')">
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>Reservas ({{itemsCart}}) </a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li v-if="itemsCart >0" v-for="item in cart">
                                        <div class="image"><img :src="'/'+item.options.image_link" alt="image"></div>
                                        <strong>
										<a href="#">{{item.name}}</a>{{item.qty}}x ${{item.price}} </strong>
                                        <a href="#" @click="removeCart(item.rowId)" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li  v-if="itemsCart >0">
                                        <div>Total: <span>${{total}}</span></div>
                                         <div style="text-align: center!important;">
                                            <span><a href="/viewcart" class="button_drop outline">Pagar ahora</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div> <!-- End Menú -->
        <!--MENU CUANDO NO ESTÉ DENTRO DE UN COMPONENTE-->
        <div class="container" v-else>
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <div id="logo_home">
                        <h1><a href="/home"  title="TuPaseo">TuPaseo.Travel</a></h1>
                    </div>
                </div>
                <nav class="col-md-9 col-sm-9 col-xs-9">
                    <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);" id="cmn-toggle-switch"><span>Menu mobile</span></a>
                    <div class="main-menu">
                        <div id="header_menu">
                            <img src="/front/img/logo.png" alt="Tu Paseo" data-retina="true">
                        </div>
                        <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
                        <ul>
                            <li class="submenu">
                                <a href="/home" class="show-submenu">Home </a>
                            </li>
                            <li class="submenu">
                                <a href="/home/services" class="show-submenu">Planes</a>
                            </li>
                             <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Destinos <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li v-for="region in regions"><a :href="'/home/region/'+region.slug">{{region.region_name}}</a></li>
                                </ul>
                            </li>
                            <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Actividades <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li v-for="ecosystem in ecosystems"><a :href="'/home/ecosystem/'+ecosystem.slug">En {{ecosystem.ecosystem_category}}</a></li>
                                </ul>
                            </li>
                              <li class="submenu">
                                <a href="javascript:void(0);" class="show-submenu">Directorio de Servicios <i class="icon-down-open-mini"></i></a>
                                <ul>
                                    <li><a href="/home/hotels" class="show-submenu">Hoteles</a></li>
                                    <li><a href="/home/restaurants" class="show-submenu">Restaurantes</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- End main-menu -->
                    <ul id="top_tools" >
                        <li>
                            <div class="dropdown dropdown-cart">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class=" icon-basket-1"></i>Reservas ({{itemsCart}}) </a>
                                <ul class="dropdown-menu" id="cart_items">
                                    <li v-if="itemsCart >0" v-for="item in cart">
                                        <div class="image"><img :src="'/'+item.options.image_link" alt="image"></div>
                                        <strong>
                                        <a href="#">{{item.name}}</a>{{item.qty}}x ${{item.price}} </strong>
                                        <a href="#" @click="removeCart(item.rowId)" class="action"><i class="icon-trash"></i></a>
                                    </li>
                                    <li  v-if="itemsCart >0">
                                        <div>Total: <span>${{total}}</span></div>
                                        <div style="text-align: center!important;">
                                            <span><a href="/viewcart" class="button_drop outline">Pagar ahora</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div><!-- End dropdown-cart-->
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</template>

<script>

import axios from 'axios';

export default
{
	data () {
	    return {
            regions:[],
	        ecosystems:[],
            itemsCart:0,
            cart:[],
            total:0,
            route:[],
            token:'',
            user:[],
	    };
	},
    created()
    {
        this.$eventHub.$on('callCart', this.getCar);
        this.route = this.$route;
        this.start();
        this.getCar();
    },
    watch:{
            '$route':function(id)
            {
                this.route = this.$route;
            }
        },
    methods:{
        start:function()
        {
            axios.get('/vue/navcomponent').then(response=>
            {
                this.regions = response.data.regions;
                this.ecosystems = response.data.ecosystems;
                this.token = response.data.token;
                this.user = response.data.user;
            });
        },
        getCar:function()
        {
            axios.get('/allcart')
            .then((respuesta)=>{
                this.cart= respuesta.data.cart;
                this.itemsCart=respuesta.data.count;
            });
            axios.get('/subtotal')
            .then((respuesta)=>{
                this.total = respuesta.data;
            });
        },
        registerClick:function()
        {
            swal("", {
              buttons: {
                cancel: "Soy Operador",
                defeat: 'Soy Usuario',
              },
            })
            .then((value) => {
              switch (value) {
             
                case "defeat":
                  window.location.href = "/register";
                  break;
             
                default:
                  window.location.href = "/operator/register";

              }
            });
        },
        removeCart:function(rowid)
        {
            var url = '/remove_cart/'+rowid;
            axios.get(url)
            .then((respuesta)=>
            {
                this.getCar();
            });
        },
    },
};

</script>