<template>
	<main>

	<section id="hero" :style="'background: #4d536d url(/'+region.link_image+') no-repeat center center; width: 100%;height: auto;background-size: cover!important;'">
        <div class="intro_title">
            <h3 class="animated fadeInDown"></h3>
            <div class="parallax-content-1">
				<div class="row">
					<h1>{{ region.region_name }}</h1>
					<p>{{ region.sentence }}</p>
				</div>
			</div>
        </div>
    </section>
	<!-- Position -->
		<div id="position">
			<div class="container">
				<ul>
					<li><router-link :to="'/home'">Home</router-link>
					</li>
					<li>{{ region.region_name }}</li>
				</ul>
			</div>
		</div> <!-- End Position -->
 <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
        <div class="container margin_30">

            <div class="row">

                <!-- Top Banner -->
                <div v-if="patterns['top-middle-banner']!= null" id="banner">
		            <div v-for="pattern in patterns['top-middle-banner']">
		                <div v-if="pattern.multimedia_type == 'Imagen'">
		                    <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="'/'+pattern.pattern"></a>
		                    <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Codigo'">
		                    <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
		                    </div>
		                </div>

		                <div v-if="pattern.multimedia_type == 'Video'" >
		                    <div >
		                        <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen class="pattern"></iframe>
		                    </div>
		                </div>
		            </div>
		        </div>
                 <!-- End Top Banner -->

                <!-- Gallery -->
                <div class="col-md-6 col-sm-6">

                        <div class="row magnific-gallery add_bottom_60 ">

                            <div v-for="image in region.images" class="col-md-6 col-sm-6">
                                <div class="img_wrapper_gallery">
                                    <div class="img_container_gallery">
                                        <a :href="'/'+image.link_image" :title="image.description"><img :src="'/'+image.link_image" alt="Image" class="img-responsive">
                                            <i class="icon-resize-full-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- End row -->
                </div> <!-- End Gallery -->

                <!-- Introduction Text -->
                <div class="col-md-6 col-sm-6" v-html="region.description">
                    
                </div> <!-- End Introduction Text -->

            </div> <!-- End row -->
        </div> <!-- End Introduction -->
        <!-- Planes Destacados -->
        <div class="container">
        
            <div class="main_title">
                <h2><span>{{region.region_name}} </span>Al Extremo!</h2>
                <p>Planes Destacados</p>
            </div>
            
            <div class="row">
        

                <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{service.municipality_name}}</span></div>
                        <div class="img_container">
                            <router-link :to="'/home/service/'+service.slug">
                            <img :src="'/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                            <div class="short_info">
                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                            </div>
                            </router-link>
                        </div>
                        <div class="tour_title">
                            <h3><strong>{{service.service_name}}</strong></h3>
                            <div class="rating" v-if="service.cuantity>0">
                                
                                <i class="icon-smile voted" v-for="votes in service.average"></i>
                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                <small>({{service.cuantity}})</small>
                            </div><!-- end rating -->
                        </div>
                    </div><!-- End box tour -->
                </div><!-- End col-md-4 -->
                
                
            </div><!-- End row -->
            <p class="text-center add_bottom_30">
                <router-link :to="'/home/services'" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes ({{plans}}) </router-link>
            </p>
        </div> <!-- End Planes Destacados -->
      

        <!-- Carrousel -->
        <div id="banner">
        	<div v-if="patterns['carrousel-banner-top']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-top']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->
        
          <!-- Actividades -->
        <div class="white_bg margin_60">
            <div class="container margin_30">

                <div class="col-md-12 col-sm-12">

                    <div class="main_title">
                        <h2><span>Destinos </span>que te encantarán</h2>
                        <p>Lugares de la región <strong>{{region.region_name}}</strong> en los que podrás realizar los <strong>deportes extremos</strong> que te apasionan</p>
                    </div>

                            <!-- Map -->
                    <div class="main_title">
                        <div id="map" class="map"></div>
                    </div> <!-- End Map -->
                    
                    <!-- Towns Amazonas -->
                    <div class="row" v-for="department in region.departments">

                        <div class="form_title" style="margin-bottom: 15px">
                            <h3><strong><i class="icon-pin"></i></strong>{{department.department_name}}</h3>
                            <p>{{department.short_description}}</p>
                        </div>

                        <div class="text-center col-md-4" v-for="municipality in department.municipalities">
                            <p>
                                <router-link :to="'/home/municipality/'+municipality.slug"><img :src="'/'+municipality.link_icon" alt="Pic" class="img-responsive"></router-link>
                            </p>
                            <h4><span>{{municipality.municipality_name}}</span></h4>
                            <span v-html="municipality.description.substr(0,110)+'...' "></span><router-link :to="'/home/municipality/'+municipality.slug" class="btn_1">Ver más</router-link>

                        </div> <!-- End Town1 -->

                    </div> <!-- End Towns Amazonas-->
                    <hr>
                    
                </div>

            </div><!-- End container -->
        </div> <!-- End Actividades -->
         <!-- Carrousel -->
        <div id="banner">
            <div v-if="patterns['carrousel-banner-middle']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-middle']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->


        <!-- Restaurantes Destacados -->
        <div class="container" v-if="restaurants.length > 0">
        
            <!-- Title Restaurantes Destacados -->
            <div class="main_title">
                <h2><span>Restaurantes </span>Destacados</h2>
                <p>Disfruta de los platos típicos de la región</p>
            </div> <!-- End Title Restaurantes Destacados -->
            
            <div class="row">
            
                <div v-for="restaurant in restaurants"  class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{restaurant.municipality_name}}</span></div>
                        <div class="img_container">
                             <router-link :to="'/home/restaurant/'+restaurant.slug">
                                <img :src="'/'+restaurant.image_link" class="img-responsive" alt="image">
                            </router-link>
                        </div>
                        <div class="tour_title">
                            <h3><b>{{restaurant.establishment_name}}</b></h3>
                            <span v-html="restaurant.description.substr(0,110)+'...' "></span><router-link :to="'/home/restaurant/'+restaurant.slug">Ver más</router-link>
                        </div>
                    </div><!-- End box tour -->
                </div> <!-- End Restaurant1 -->
                
            </div><!-- End row -->
            <p class="text-center add_bottom_30">
                <a href="all_tours_list.html" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los restaurantes ({{allRestaurants}}) </a>
            </p>
        </div> <!-- End Restaurantes Destacados -->

        <!-- Hoteles Destacados -->
        <div class="container" v-if="hotels.length > 0">
        <hr>
        
            <!-- Title Restaurantes Destacados -->
            <div class="main_title">
                <h2><span>Hoteles </span>Destacados</h2>
                <p>No dejes pasar esta oportunidad</p>
            </div> <!-- End Title Restaurantes Destacados -->
            
            <div class="row">
            
                <div v-for="hotel in hotels"  class="col-md-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{hotel.municipality_name}}</span></div>
                        <div class="img_container">
                             <router-link :to="'/home/hotel/'+hotel.slug">
                                <img :src="'/'+hotel.image_link" class="img-responsive" alt="image">
                            </router-link>
                        </div>
                        <div class="tour_title">
                            <h3><b>{{hotel.establishment_name}}</b></h3>
                            <span v-html="hotel.description.substr(0,110)+'...' "></span><router-link :to="'/home/hotel/'+hotel.slug">Ver más</router-link>
                        </div>
                    </div><!-- End box tour -->
                </div> <!-- End Hotel1 -->
                
            </div><!-- End row -->
            <p class="text-center add_bottom_30">
                <a href="all_tours_list.html" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los hoteles ({{allHotels}}) </a>
            </p>
        </div> <!-- End Hoteles Destacados -->
        <!-- Middle Destinations Banners -->
         <div id="banner">
            <div v-if="patterns['carrousel-banner-bottom']!= null" class="container">
                <div class="col-md-4 col-sm-4" v-for="pattern in patterns['carrousel-banner-bottom']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="'/'+pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End Carrousel -->

    <section class="promo_full" v-if="patterns['video-banner']!= null">
        <div class="promo_full_wp magnific">
                <div v-for="pattern in patterns['video-banner']">
                    <div v-if="pattern.multimedia_type == 'Imagen'">
                        <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                        <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)"><img :src="pattern.pattern"></a>
                    </div>

                    <div v-if="pattern.multimedia_type == 'Codigo'">
                        <div v-on:click="clickPattern(pattern.pivot.id_pattern_part)" v-html="pattern.pattern">
                        </div>
                    </div>

                    <div v-if="pattern.multimedia_type == 'Video'" >
                        <div >
                            <iframe width="100%" height="200" :src="'https://www.youtube.com/embed/'+pattern.pattern+'?rel=0&controls=1&modestbranding=1'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen v-on:click="clickPattern(pattern.pivot.id_pattern_part)"></iframe>
                        </div>
                    </div>
                </div>
            <!--<div>
                <iframe src="https://www.youtube.com/embed/8emAHIcaxLo?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>-->
        </div>
    </section> <!-- End video -->
        
      
        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- End Carrousel -->
	</main>
</template>

<script>

import axios from 'axios';


	export default{
		data()
		{
			return{
				region:[],
				slug:"",
                plans:0,
                allRestaurants:0,
                allHotels:0,
                patterns:[],
        		municipalities:[],
        		metas:{'description':'','keywords':'','title':''},
                services:[],
                restaurants:[],
                hotels:[],
			};
		},
		mounted()
		{
            this.slug = this.$route.params.slug;
            $("#preloader").css('display', 'initial');
            this.getRegion();            
            Spinner();
			$('body,html').animate({
				scrollTop: 0
			}, 0);
		},
		watch: {
	        '$route.params.slug': function (id) {
	        	this.slug = this.$route.params.slug;
	         	this.getRegion();
	         	this.metas={'description':'','keywords':'','title':''};
	        }
	      },
	    metaInfo () {
	      return {
	        title: this.metas.title!='' ? this.metas.title : this.region.region_name,
	        titleTemplate: '%s | TuPaseo',
	        meta: [
	          { vmid: 'description', name: 'description', content: this.metas.description },
	          { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
	        ]
	      }
	    },
		methods:
		{
			getRegion:function()
			{
				axios.get('/vue/region/'+this.slug).then(response=>{
					this.region = response.data.region;
                    this.patterns = response.data.patterns;
            		this.municipalities = response.data.municipalities;
            		if(response.data.page)
            		{
            			this.metas = {'description':response.data.page.description,
                            'keywords':response.data.page.keywords,
                            'title':response.data.page.page_name };
            		}
                    this.services = response.data.plans;
                    this.plans = response.data.allPlans;
                    this.restaurants = response.data.restaurants;
                    this.hotels = response.data.hotels;
                    this.allRestaurants = response.data.allRestaurants;
                    this.allHotels = response.data.allHotels;
                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
            		this.createMap();
				},(error) => {
                        this.$router.push('/home');
                });
            },
			createMap:function()
		    {
		        var municipalities;
		        municipalities = this.municipalities;
		        setpoints(municipalities,'municipality');
		    },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
		}
	}
</script>
