<template>
    <main>
   <section id="hero" :style="'background: #4d536d url(/'+restaurant.link_image+') no-repeat center center; width: 100%;height: auto;background-size: cover;'">
        <div class="intro_title">
            <h3 class="animated fadeInDown"></h3>
            <div class="parallax-content-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8" style="text-align:left;">
                        <h1>{{restaurant.establishment_name}}</h1>
                        <span>Tipo de cocina: {{restaurant.kitchen_type}}</span>
                        <br>
                        <span>{{restaurant.address}}</span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
		<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link>
                    </li>
                     <li v-if="restaurant.municipality"><router-link :to="'/home/municipality/'+restaurant.municipality.slug">{{restaurant.municipality.municipality_name}}</router-link>
                    </li>
                    <li>{{restaurant.establishment_name}}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
     <!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
		<!-- Principal -->
        <div class="container margin_60">
			<div class="row">
				<div class="col-md-8" id="single_tour_desc">

					<!-- Gallery -->
                    <!-- Gallery -->
                    <div v-if="restaurant.images && restaurant.images.length > 0" id="Img_carousel" class="slider-pro">
                        <div class="sp-slides">
                            
                            <div v-for="(image, key) in restaurant.images">
                                <div v-if="key==0" class="sp-slide">
                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
                                    <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                                        {{restaurant.establishment_name}}
                                    </h3>
                                    <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-width="350" data-show-transition="left" data-show-delay="400" v-if="image.description">
                                        {{image.description}}
                                    </p>
                                </div>
                                <div v-else class="sp-slide">
                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
                                    <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400" v-if="image.description">
                                        {{image.description}}
                                    </p>
                                </div>
                            </div>
                            

                        </div>
                        <div class="sp-thumbnails" >
                            <img v-for="(image, key) in restaurant.images" alt="Image" class="sp-thumbnail" :src="'/'+image.link_image">
                        </div>
                    </div> <!--End Gallery -->


					<hr>

					 <!-- Description -->
                    <div class="row">
                        <div class="col-md-12">
                            <div v-html="restaurant.description"></div>
                        </div>
                    </div> <!--End Description -->
                    <hr>
                     <!--End Description -->
                    
					<!-- Services -->
                    <div class="row" v-if="listServices.length >0">
                        <div class="col-md-3">
                            <h3>Servicios</h3>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_icons">
                                        <li v-for="(service, index) in listServices" v-if="index<cantServices"><i class="icon-ok-circled2-1"></i> {{service.service_name}}</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <ul class="list_icons">
                                        <li v-for="(service, index) in listServices" v-if="index>=cantServices"><i class="icon-ok-circled2-1"></i> {{service.service_name}}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End row  -->
                        </div>
                        <!-- End col-md-9  -->
                    </div> <!--End Activities -->

                    <!-- Menu -->
                    <div class="row" v-if="plates">
						<div class="col-md-3">
							<h3>Menú</h3>
						</div>
						<div class="col-md-9">

							<div class=" table-responsive">
								<table class="table table-striped" v-for="(platesList, category) in plates">
    									<thead>
    										<tr>
    											<th colspan="2">
    												{{category}}
    											</th>
    										</tr>
    									</thead>
    									<tbody>
    										<tr v-for="plate in platesList">
    											<td>
    												{{plate.plate}}
    											</td>
    											<td>
    												${{plate.cost}}
    											</td>
    										</tr>
                                        </tbody>
								</table>
							</div>

						</div>
					</div> <!--End Menu -->

                    <!-- Shedule -->
                    <div class="row">
                        <div class="col-md-3">
                            <h3>Horario</h3>
                        </div>
                        <div class="col-md-9">
                            <div class=" table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr v-for="day in schedule" v-if="!day.inactive">
                                            <td>
                                                {{day.name}}
                                            </td>
                                            <td>
                                                {{day.start}} - {{day.end}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div> <!--End Shedule -->

                  <!-- Video -->
                    <hr>
                    <div v-if="restaurant.video" class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" :src="'https://www.youtube.com/embed/'+restaurant.video" allowfullscreen></iframe>
                    </div> <!-- End video -->

				</div>

				<aside class="col-md-4">

                    <!-- Contact -->
                    <div class="box_style_2 expose">
                        <h3 class="inner">- Contacto -</h3>
                        <i class="icon_set_1_icon-90"></i>
                            <h4><span>Teléfono</span></h4>
                            <a :href="'tel://'+restaurant.phone" class="phone">{{restaurant.phone}}</a>
                        <i class="icon-location-6"></i>
                            <h4><span>Dirección</span></h4>
                            <p>{{restaurant.address}}</p>
                        <div id="single_tour_feat" class="table-responsive" v-if="socialNetworks">
                            <h4><span>Redes Sociales</span></h4>
                                <ul>
                                    <li v-if="restaurant.facebook"><a :href="restaurant.facebook"><i class="icon-facebook-squared"></i>Facebook</a></li>
                                    <li v-if="restaurant.twitter">><a :href="restaurant.twitter"><i class="icon-twitter-squared"></i>Twitter</a></li>
                                    <li v-if="restaurant.instagram"><a :href="restaurant.twitter"><i class="icon-instagram"></i>Instagram</a></li>
                                    <li v-if="restaurant.website"><a :href="restaurant.website"><i class="icon-home"></i>Website</a></li>
                                </ul>
                        </div>
                    </div> <!-- End Contact -->

                    <!-- Map -->
                    <div class="box_style_5 expose">
                        <h3 class="inner">- Como llegar -</h3>
                        <div id="map" class="map"></div>
                    </div>
                        
					<!-- Banners -->
                    <div id="filters_col" class="hidden-sm hidden-xs" v-if="patterns['right-side-banner']!= null">
                        <div class="banner" v-for="pattern in patterns['right-side-banner']">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                            </a>
                        </div>
                    </div> <!--End Banners-->

				</aside>
			</div>
			<hr>
		</div> <!--End Principal -->
        
        <!-- Planes Destacados -->
        <div class="container" v-if="services.length>0">
        
            <!-- Title Planes Destacados -->
            <div class="main_title">
                <h2 v-if="restaurant.municipality"><span >Planes Destacados en </span>{{restaurant.municipality.municipality_name}}</h2>
                <p>Disfruta las mejores actividades en esta ciudad</p>
            </div> <!-- End Title Planes Destacados -->
            
            <div class="row">
        

                <div v-for="service in services" class="col-md-4 col-sm-6 wow zoomIn serviceCard" data-wow-delay="0.1s">
                    <div class="tour_container">
                        <div class="ribbon_3 popular"><span>{{restaurant.municipality.municipality_name}}</span></div>
                        <div class="img_container">
                            <router-link :to="'/home/service/'+service.slug">
                            <img :src="'/'+service.image_link" class="img-responsive" alt="image" style="height: 165px!important;width: 100%!important;">
                            <div class="short_info">
                                <i :class="service.icon_class"></i>{{service.operator}}<span class="price"><sup>$</sup>{{service.cost}}</span>
                            </div>
                            </router-link>
                        </div>
                        <div class="tour_title">
                            <h3><strong>{{service.service_name}}</strong></h3>
                            <div class="rating" v-if="service.cuantity>0">
                                
                                <i class="icon-smile voted" v-for="votes in service.average"></i>
                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                <small>({{service.cuantity}})</small>
                            </div><!-- end rating -->
                        </div>
                    </div><!-- End box tour -->
                </div><!-- End col-md-4 -->
                
            </div><!-- End row -->
            <p class="text-center add_bottom_30">
                <router-link :to="'/home/services'" class="btn_1 medium"><i class="icon-eye-7"></i>Ver todos los planes ({{plans}}) </router-link>
            </p>
        </div> <!-- End Planes Destacados -->
        <!-- Carrousel -->
        <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="overlay"></div>
		<!-- Mask on input focus -->
    </main>
</template>

<script>
    
import axios from 'axios';

    export default{
        data()
        {
            return{
                restaurant:[],
                slug:'',
                metas:{'description':'','keywords':'','title':''},
                listServices:[],
                cantServices:0,
                plates :[],
                schedule:[],
                socialNetworks:'',
                patterns:[],
                plans:0,
                services:[],
            }
        },
        mounted()
        {
            this.slug = this.$route.params.slug;
            this.getRestaurant();
            $("#preloader").css('display', 'initial');
            $('body,html').animate({
                scrollTop:0
            },0);
        },
        watch:{
            '$route.params.slug': function (id){
                this.slug = this.$route.params.slug;
                this.getRestaurant();
                this.metas = {'description':'','keywords':'','title':''}
            }
        },
        metaInfo (){
            return {
                title: this.metas.title!='' ? this.metas.title : this.restaurant.establishment_name,
                titleTemplate: '%s | TuPaseo',
                meta: [
                  { vmid: 'description', name: 'description', content: this.metas.description },
                  { vmid: 'keywords', name: 'keywords', content: this.metas.keywords }
                ]
            }
        },
        methods:
        {
            getRestaurant:function()
            {
                axios.get('/vue/restaurant/'+this.slug).then(response=>{
                    this.restaurant = response.data.restaurant;
                    this.listServices = response.data.restaurant.services;
                    if(response.data.page)
                    {
                        this.metas = {'description':response.data.page.description,
                            'keywords':response.data.page.keywords,
                            'title':this.restaurant.establishment_name };
                    }
                    if(this.listServices.length>0)
                    {
                        this.cantServices = Math.round(this.listServices.length/2);
                    }
                    this.plates = response.data.plates;
                    this.schedule = response.data.restaurant.schedule;
                    this.socialNetworks = response.data.socialNetworks;
                    this.plans = response.data.allPlans;
                    this.services = response.data.plans;
                    this.patterns = response.data.patterns;
                    $("#preloader").css('display', 'none');
                    $('.cmn-toggle-switch').removeClass('active');
                    $('.main-menu').removeClass('show');
                    setTimeout(function()
                    {
                        $('#Img_carousel').sliderPro({
                            width: 960,
                            height: 500,
                            fade: true,
                            arrows: true,
                            buttons: false,
                            fullScreen: false,
                            smallSize: 500,
                            startSlide: 0,
                            mediumSize: 1000,
                            largeSize: 3000,
                            thumbnailArrows: true,
                            autoplay: false
                        });
                    },200);
                    this.createMap();

                },(error) => {
                        this.$router.push('/home');
                });
            },
            createMap:function()
            {
                var restaurant;
                restaurant = [this.restaurant];
                setpoints(restaurant,'restaurant');
            },
            clickPattern:function(id)
            {
                axios.get('/vue/sumclick/'+id);
            },
        }
    }


</script>
