<template>
	<main>
		<!-- Title -->
	    <section id="hero" :style="'background: #4d536d url(/'+service.image_link+') no-repeat center center; width: 100%;height: auto; text-align: initial!important;background-size: cover;'" class="parallax-window" data-parallax="scroll">
	        <div class="parallax-content-2">
	            <div class="container">
					<div class="row">
						<div class="col-md-8 col-sm-8">
							<h1>{{service.service_name}}</h1>
							<span v-if="service.operator && municipality.region">{{service.operator}}, {{service.municipality.municipality_name}}, región {{municipality.region.region_name}}</span>
							<div class="rating" v-if="service.cuantity>0">
                                
                                <i class="icon-smile voted" v-for="votes in service.average"></i>
                                <i class="icon-smile" v-for="sad in 5-service.average"></i>

                                <small>({{service.cuantity}})</small>
                            </div><!-- end rating -->
						</div>
						<div class="col-md-4 col-sm-4">
							<div id="price_single_main"><span><sup>$</sup>{{service.cost}}</span>
							</div>
						</div>
					</div>
				</div>
	        </div>
	    </section>

		<!-- End section -->
		<!-- Position -->
        <div id="position">
            <div class="container">
                <ul>
                    <li><router-link :to="'/home'">Home</router-link>
                    </li>
                    <li v-if="service.municipality"><router-link :to="'/home/municipality/'+service.municipality.slug">{{service.municipality.municipality_name}}</router-link>
                    </li>
                    <li>{{service.service_name}}</li>
                </ul>
            </div>
        </div> <!-- End Position -->
		<!--<div class="col-sm-12">
            <pre>
                {{$data}} 
            </pre>
        </div>-->
		<div class="collapse" id="collapseMap">
			<div id="map" class="map"></div>
		</div>
		<!-- End Map -->

		<div class="container margin_60">
			<div class="row">

				<!-- Tour Desc-->
				<div class="col-md-8" id="single_tour_desc">

					<!-- Video -->
                    <div class="embed-responsive embed-responsive-16by9" v-if="service.video!=''">
                        <iframe class="embed-responsive-item" :src="'https://www.youtube.com/embed/'+service.video" allowfullscreen></iframe>
                    </div> <!-- End video -->
                    <hr>

					<!-- Icons Info -->
					<div id="single_tour_feat">
						<ul>
							<li><i :class="service.icon_class"></i>{{service.name_principal_service}}</li>
							<li><i class="icon-info"></i>{{service.impact}}</li>
							<li><i class="icon-water"></i>Actividad en {{service.ecosystem}}</li>
                            <li><i class="icon_set_1_icon-83"></i> Duración {{service.duration}} horas</li>
							<li v-if="service.cuantity>0"><i class="icon-comment-6"></i>{{service.cuantity}} Comentarios</li>
							<li><a :href="'/home/municipality/'+municipality.slug" target="_blank"><i class="icon-sun"></i>Estado del clima</a></li>
							<li><i class="icon_set_1_icon-29"></i>Guía Certificado</li>
						</ul>
					</div> <!-- End Icons Info -->

					<!-- Map button for tablets/mobiles -->
					<p class="visible-sm visible-xs"><a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">Ver mapa</a>
					</p> <!-- End Map button for tablets/mobiles -->

					<!-- Tabs -->
					<div id="tabs" class="tabs">
						<nav>
							<ul>
								<li><a href="#section-1" class="icon_set_1_icon-30"><span>Descripción</span></a></li>
								<li><a href="#section-2" class="icon_set_1_icon-54"><span>Recomendaciones</span></a></li>
								<li><a href="#section-3" class="icon_set_1_icon-65"><span>Políticas</span></a></li>
								<li><a href="#section-4" class="icon_set_1_icon-83"><span>Horarios</span></a></li>
							</ul>
						</nav>

						<div class="content">
						
							<!-- Description -->
							<section id="section-1">
								<div class="row">
									<div class="col-md-1 col-sm-1"></div>
									<div class="col-md-10">
										<h4>{{service.service_name}}</h4>
										<div v-html="service.description"></div>
									</div>
								</div>
							</section> <!-- End Description -->
						
							<!-- Restrictions -->
							<section id="section-2">
								<div class="row">
									<div class="col-md-1 col-sm-1">
									</div>
									<div class="col-md-10">
										<h4>¿Qué harás?</h4>
										<div v-html="service.requisites"></div>
										
									</div>
								</div>
							</section> <!-- End Restrictions -->

							<!-- Shedule -->
							<section id="section-3">
								<div class="row">
									<div class="col-md-1 col-sm-1">
									</div>
									<div class="col-md-10">
										<h4>Políticas para realizar la actividad</h4>
										<div v-html="service.policies"></div>
									</div>
								</div>
							</section> <!-- End Shedule -->

							<!-- Shedule -->
							<section id="section-4">
								<div class="row">
									<div class="col-md-1 col-sm-1">
									</div>
									<div class="col-md-10">
										<div class=" table-responsive">
											<table class="table table-striped">
												<tbody>
													<tr v-for="day in schedule">
														<td>
															{{day.day}}
														</td>
														<td v-if="day.frontState == 'active'">
															{{day.hora_inicio}} - {{day.hora_final}}
														</td>
														<td v-else>
															<span class="label label-danger">Cerrado</span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</section> <!-- End Shedule -->

						</div> <!-- /content -->
					</div> <!-- End tabs -->
					<hr>

			        <div id="banner" v-if="patterns['carrousel-banner-top']!= null">
			        	<div class="row">
			                <div class="col-md-6 col-sm-6" v-for="pattern in patterns['carrousel-banner-top']">
			                    <div class="img_wrapper_gallery">
			                        <div class="img_container_gallery">
			                            <a :href="pattern.redirection" target="_blank" class="image">
			                                <img :src="'/'.pattern.pattern" class="img-responsive">
			                                <i class="pe-7s-link"></i>

			                            </a>
			                        </div>
			                    </div>
			                </div> <!-- End Banner1 -->
			            </div>
			        </div> <!-- End Middle Tours Banners -->

					<!-- Gallery -->
                    <div v-if="service.images && service.images.length > 0" id="Img_carousel" class="slider-pro">
                        <div class="sp-slides">
                            
                            <div v-for="(image, key) in service.images">
                                <div v-if="key==0" class="sp-slide">
                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
                                    <h3 class="sp-layer sp-black sp-padding" data-horizontal="40" data-vertical="40" data-show-transition="left">
                                        {{service.service_name}}
                                    </h3>
                                    <p class="sp-layer sp-white sp-padding" data-horizontal="40" data-vertical="100" data-width="350" data-show-transition="left" data-show-delay="400" v-if="image.description">
                                        {{image.description}}
                                    </p>
                                </div>
                                <div v-else class="sp-slide">
                                    <img alt="Image" class="sp-image" src="/front/css/images/blank.gif" :data-src="'/'+image.link_image" :data-small="'/'+image.link_image" :data-medium="'/'+image.link_image" :data-large="'/'+image.link_image" :data-retina="'/'+image.link_image">
                                    <p class="sp-layer sp-black sp-padding" data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%" data-show-transition="up" data-show-delay="400" v-if="image.description">
                                        {{image.description}}
                                    </p>
                                </div>
                            </div>
                            

                        </div>
                        <div class="sp-thumbnails" >
                            <img v-for="(image, key) in service.images" alt="Image" class="sp-thumbnail" :src="'/'+image.link_image">
                        </div>
                    </div> <!--End Gallery -->
                    <hr>

					<!-- Reviews -->
					<div class="row">

						<!-- Rating Title 
						<div class="col-md-3">
							<h3>Comentarios </h3>
							<a href="#" class="btn_1 add_bottom_30" data-toggle="modal" data-target="#myReview">Déjanos tu opinión</a>
						</div>  End Rating Title -->

						<div class="col-md-9 col-md-offset-3" v-if="service.cuantity>0">

							<!-- General Rating -->
							<div id="general_rating">{{service.cuantity}} Comentarios
								<div class="rating">
									<i class="icon-smile voted" v-for="votes in service.average"></i>
                                	<i class="icon-smile" v-for="sad in 5-service.average"></i>
								</div>
								<div class="rating" >
                            </div><!-- end rating -->
							</div> <!-- End General Rating -->

							<hr>

							<div class="review_strip_single" v-for="reservation in reservations" v-if="reservation.state == 'Calificada'">
								<img :src="reservation.user.avatar" alt="Image" class="img-circle" style="width: 80px!important;height: 80px!important;">
								<small>- {{reservation.updated_at}} -</small>
								<h4>{{reservation.user.first_name}} {{reservation.user.last_name}}</h4>
								<p>
									{{reservation.comment}}
								</p>
								<div class="rating">
									<i class="icon-smile voted" v-for="votes in reservation.calification"></i>
                                	<i class="icon-smile" v-for="sad in 5-reservation.calification"></i>
								</div>
							</div>
							<!-- End review strip -->

							<!-- Pagination
		                    <hr>
		                    <div class="text-center">
								<ul class="pagination">
									<li><a href="#">Prev</a>
									</li>
									<li class="active"><a href="#">1</a>
									</li>
									<li><a href="#">2</a>
									</li>
									<li><a href="#">3</a>
									</li>
									<li><a href="#">4</a>
									</li>
									<li><a href="#">5</a>
									</li>
									<li><a href="#">Next</a>
									</li>
								</ul>
							</div> End Pagination-->

						</div>
					</div> <!-- End Reviews -->

				</div> <!--End Tour Desc -->

				<aside class="col-md-4">
					<p class="hidden-sm hidden-xs">
						<a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap" data-text-swap="Ocultar Mapa" data-text-original="Ver Mapa">Ver Mapa</a>
					</p>
					<div class="box_style_1 expose">
						<h3 class="inner">- Reservar -</h3>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label><i class="icon_set_1_icon-30"></i> Cantidad personas</label>
									<input class="form-control" type="number" :max="service.capacity" v-model="fillReservation.cuantity" id="numPersons" v-on:blur="validateCant()" v-on:change="ChangeNumber()">
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="form-group">
									<label><i class="icon-calendar-7"></i> Fecha <small>ingrese la fecha</small></label>
									<input class="date-pick form-control" type="text" v-model="fillReservation.date" v-on:blur="validateDate(service.id_service_operator)" :id="'dateService'+service.id_service_operator">
								</div>
							</div>
						</div>
						<div class="form-group " v-if="countHours>0">

                            <label for="hour" class="col-md-4 control-label">Hora</label>
                            <div class="col-md-6">
                                <select id="hour" class="form-control" name="time" required v-model="fillReservation.time">
                                    <option v-for="hour in hours">
                                        {{hour}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div v-else-if="countHours==-1" align="center">
                            No se encuentran horarios disponibles para este día, por favor seleccione otro
                        </div>
						<br>
						<table class="table table-striped options_cart">
                                    <thead>
                                        <tr>
                                            <th colspan="3" class="text-center">
                                                Opciones
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        	<td style="width:15%" class="filter_type">
                                            	<ul>
                                            		<li><label><input type="checkbox" disabled checked></label></li>
                                                </ul>
                                            </td>
                                            <td style="width:80%" v-if="service.description" v-html="service.description.substr(0,100)+'... <br> <strong>$'+service.cost*fillReservation.cuantity+'</strong>'">
                                            </td>
                                        </tr>
                                        <tr v-if="items" v-for="(item,index) in items">
                                        	<td style="width:15%" class="filter_type">
                                            	<ul>
                                            		<li><label><input class="itemscheck" type="checkbox" :value="index" v-model="buyedItems" v-on:change="addTotal"></label></li>
                                                </ul>
                                            </td>
                                            <td style="width:80%" v-if="item.description" v-html="'<h4>'+item.item_name+' <small>opcional</small></h4>'+item.description.substr(0,100)+'... <a href=# data-toggle=modal data-target=#detailItem'+item.id_service_item+'> Ver más'+'</a> <br> <strong>$'+item.cost*fillReservation.cuantity+'</strong>'">
                                        	</td>
                                        </tr>

                                    </tbody>
                                </table>
						<table class="table table_summary">
							<tbody>
								<tr class="total">
									<td>
										Total
									</td>
									<td class="text-right">
										${{fillReservation.total}}
									</td>
								</tr>
							</tbody>
						</table>
						<a class="btn_full" href="javascript:void(0);" v-on:click="addcar(service.id_service_operator)">Añadir al carrito</a>

					</div>
					<!-- Modal -->
						<div class="modal fade" v-for="item in items" :id="'detailItem'+item.id_service_item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						        <h4 class="modal-title" id="myModalLabel">{{item.item_name}}
								<div class="pull-right">{{item.cost}}</div>
						        </h4>
						      </div>
						      <div class="modal-body">
								<p v-html="item.description"></p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
						      </div>
						    </div>
						  </div>
						</div>
					<!--/box_style_1 -->

					<div class="box_style_4">
						<i class="icon_set_1_icon-57"></i>
						<h4>¿Quieres <span>ayuda?</span></h4>
						<a href="tel://005731652879319" class="phone">+57 316 5287931</a>
						<small>Lunes a Viernes<br> 8:30 am - 5:30 pm</small>
					</div>
				</aside>
			</div>
			<!--End row -->
		</div>
		<!-- Carrousel -->
       <div v-if="patterns['footer-banner']!= null" id="banner">
            <div class="container">
                <div class="col-md-3 col-sm-3" v-for="pattern in patterns['footer-banner']">
                    <div class="img_wrapper_gallery">
                        <div class="img_container_gallery">
                            <a v-if="pattern.redirection!=null" :href="pattern.redirection" target="_blank" class="image" v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                            <a  v-else v-on:click="clickPattern(pattern.pivot.id_pattern_part)">
                                <img :src="pattern.pattern" class="img-responsive">
                                <i class="icon-resize-full-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!--End container -->

		
	<div id="overlay"></div>
	<!-- Mask on input focus -->
	</main>
</template>

<script>

	import axios from 'axios';

	export default
	{
		data(){
			return{
				service:[],
				municipality:[],
				schedule:[],
				slug:'',
                patterns:[],
                reservations:[],
				metas : {'description':'','keywords':'','tittle':''},
				fillReservation:{'cuantity':'1','date':'','time':'','total':'','aditionalItems':'','text':'','priceforperson':''},
				hours:[],
				countHours:0,
				disabledDays:'',
				buyedItems:[],
				items:[],
			}
		},
		mounted()
		{
			this.slug = this.$route.params.slug
			$("#preloader").css('display', 'initial');
			this.getService();
			$('body,html').animate({
                scrollTop: 0
            }, 0);


		},
		watch:{
			'$route.params.slug':function(id)
			{
				this.slug = this.$route.params.slug;
				this.metas = {'description':'','keywords':'','tittle':''};
				this.getService();
			}
		},
		metaInfo(){
			return{
				title: this.service.service_name,
				titleTemplate: '%s | TuPaseo',
				meta: [
					{ vmid: 'description', name: 'description', content: this.metas.title },
					{ vmid: 'keywords', name: 'keywords', content: this.metas.keywords}
				]
			}
		},
		methods:
		{
			getService:function()
			{
				axios.get('/vue/service/'+this.slug).then(response=>{
					this.service = response.data.service;
					this.municipality = response.data.municipality;
					this.schedule = response.data.schedule;
                    this.patterns = response.data.patterns;
                    this.reservations = response.data.service.reservations;
                    this.disabledDays = response.data.disabledDays;
                    this.items = response.data.items;
                    this.fillReservation.total = this.fillReservation.cuantity * this.service.cost;
                    this.fillReservation.text = this.service.service_name;
                    this.fillReservation.priceforperson = this.service.cost;
                	$("#preloader").css('display', 'none');
        			$('.cmn-toggle-switch').removeClass('active');
            		$('.main-menu').removeClass('show'); 
                    this.startAdds();
				});
			},

			startAdds:function()
			{	
				setTimeout(function()
                    {
                    	//Hora y fecha
						$('input.date-pick').datepicker({
						    format: 'dd/mm/yyyy',
						    startDate: '+3d',
						    daysOfWeekDisabled: this.disabledDays,
						});
					    $('input.time-pick').timepicker({
					        minuteStep: 15,
					        showInpunts: false
					    });


			    		// TABS
   						new CBPFWTabs( document.getElementById( 'tabs' ) );

					},1000);
				
			    //carrusel
			    setTimeout(function()
                    {
                        $('#Img_carousel').sliderPro({
                            width: 960,
                            height: 500,
                            fade: true,
                            arrows: true,
                            buttons: false,
                            fullScreen: false,
                            smallSize: 500,
                            startSlide: 0,
                            mediumSize: 1000,
                            largeSize: 3000,
                            thumbnailArrows: true,
                            autoplay: false
                        });
                    },200);

			 

			    //FALTA MAPS
			    var service;
                service = [this.service];
                setpoints(service,this.service.name_principal_service);
			},
			validateDate:function(id)
			{
				// console.log(this.fillReservation);
				//self variable auxiliar dentro de la funcion para indicar que es this :v
				var self = this;
				this.hours=[],
					this.countHours=0,
				setTimeout(function(){
					var fecha = $("#dateService"+id).val();
					var res = fecha.replace("/", "-");
					res = res.replace("/", "-");
					var cantidad = $("#numPersons").val();
					var url = "/freehours/"+id+"/"+res+"/"+cantidad;
					self.fillReservation.date = $("#dateService"+id).val();
					axios.get(url).then(response=>{
						self.hours=response.data.tiempo;
						self.countHours = response.data.cantidad;
					});
	            }, 500);
			},
			ValidateInput:function(id)
			{
				// patron = /^\d{2}\/\d{2}\/\d{2}$/
				// alert(patron.test(value));
				$('#'+id).datepicker({
	            beforeShowDay: noExcursion,
	            }).show();
			},
			ChangeNumber:function()
			{	
				var cant = $("#numPersons").val();
				this.hours=[];
				this.countHours=0;
				this.fillReservation.date = '';

			},
			validateCant:function()
			{
				var cant = $("#numPersons").val();
				if(cant>this.service.capacity)
				{
					swal('Error','El numero de personas ingresadas no puede superar la capacidad del operador','error');
					$("#numPersons").val(1);
					this.fillReservation.cuantity = 1;
				}
				if(cant==""|| cant<=0)
				{
					$("#numPersons").val(1);
					this.fillReservation.cuantity = 1;
				}
				this.addTotal();
			},
			addTotal:function()
			{
				this.fillReservation.total = this.fillReservation.cuantity*this.service.cost;
				this.fillReservation.aditionalItems = '';
				this.fillReservation.text = this.service.service_name;
				this.fillReservation.priceforperson = this.service.cost;
				if(this.buyedItems)
				{
					var x;
					for(x in this.buyedItems)
					{
						this.fillReservation.total += this.items[this.buyedItems[x]].cost * this.fillReservation.cuantity;
						this.fillReservation.priceforperson = parseInt(this.fillReservation.priceforperson) + parseInt(this.items[this.buyedItems[x]].cost);
						this.fillReservation.aditionalItems+=''+this.items[this.buyedItems[x]].id_service_item+',';
						this.fillReservation.text += ' + '+this.items[this.buyedItems[x]].item_name;
					}
				}
			},

			addcar:function(id)
			{
				console.log(this.fillReservation);
				console.log(id);
				if(this.fillReservation.cuantity=="" || this.fillReservation.date=="" || this.fillReservation.time=="" || this.fillReservation.total == "")
				{
					swal('Error','Para realizar una reservacion se requiere que todos los campos esten diligenciados','error');
				}
				else
				{
					var url = '/add_cart/'+id
					axios.put(url,this.fillReservation).then(response=>{
					  	this.$eventHub.$emit('callCart');
						this.fillReservation={'cuantity':'1','date':'','time':'','total':'','aditionalItems':'','text':'','priceforperson':''};
						this.hours=[];
						this.countHours=0;
						this.fillReservation.total = this.service.cost;
						swal('Listo!','Se ha agregado el producto correctamente al carrito','success');
						
					});
					//$("#detailService"+id).modal("hide");
					//$(".modal-backdrop.in").css('display','none');
				}			
			},
			clickPattern:function(id)
		    {
		        axios.get('/vue/sumclick/'+id);
		    },
		}

	}


</script>

